@charset "utf-8";
/* CSS Document */

.guangaowei{ width:1190px; margin:10px auto 0 auto;}
.guantaoweiw{ margin-left:-10px; width:1200px;}
.guangaowei img { float:left; margin-left:10px;}
.newsbshow{width:1190px; margin:10px auto 0 auto;}
.newsbshow li{ width:220px; height:310px; float:left; border:1px solid #e4e4e4; margin-left:18px; margin-bottom:20px; position:relative; background:#fff;}
.newsbshow li:hover{border:1px solid #c21902;}
.corjiage{ color:#ff3300;font-family:'微软雅黑'; font-weight:bold; font-size:14px;}
.corxiazai{color:#090;font-family:'微软雅黑'; font-weight:bold; font-size:14px;}
.posr{ position:relative; width:220px; height:220px;}
.shoucan{ height:30px; line-height:30px; color:#fff;text-align:center; position:absolute; width:220px; bottom:0px;
background:rgba(255, 81, 82, 0.4) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=80); border:1px solid #c21902; border-right:0px; border-left:0px;}
.shoucan p{ position:relative; cursor:pointer;}/*实现IE文字不透明*/
.shoucan .span1{ width:109px; text-align:center; display:inline-block; border-right:1px solid #c21902;}
.shoucan .span2{ width:110px; text-align:center; position:relative;}
.posa{ position:absolute;}
.right0{ right:0px;}
.span2fxnr{ width:100px; height:90px; float:right; background:#c21902; }
.share-con{overflow:hidden;padding-left:11px;}
.share-con span.tit{float:left;line-height:38px;}
.share-con a,.share-con a span{height:16px;width:16px;display:block;float:left;overflow:hidden;}
.share-con a{padding:3px;margin-top:5px;}
.share-con a span{background-image:url(../img/share-icon.gif);background-repeat:no-repeat;cursor:pointer;}
.share-con a:hover{opacity:0.7;filter:alpha(opacity=70);}
.share-con a span.copylink{background-position:0 0;}
.share-con a span.tengxunweibo{background-position:0 -16px;}
.share-con a span.xinlang{background-position:0 -32px;}
.share-con a span.sohu{background-position:0 -48px;}
.share-con a span.wangyi{background-position:0 -64px;}
.share-con a span.qqzone{background-position:0 -80px;}
.share-con a span.qqpengyou{background-position:0 -96px;}
.share-con a span.renren{background-position:0 -112px;}
.share-con a span.kaixin{background-position:0 -128px;}
.share-con a span.taojianghu{background-position:0 -144px;}
.share-con a span.douban{background-position:0 -160px;}
.share-con a span.baidusoucang{background-position:0 -176px;margin-right:0px;}
.share-con a span.weixin{background-position:0 -182px;margin-right:0px;}


/*全部货源*/
.dituabiao a{ color:#333;}
.dituabiao a:hover{ color:#f00;}
.sousouboder{ border:2px solid #D82005; width:290px; height:25px; line-height:25px; color:#666; background:#fff; font-size:12px}
.searchtxt{ width:195px; height:25px; border:0px; line-height:25px;}
.sbww{ width:45px; text-align:center; padding-left:10px; position: relative;}
.dianpusousou li{ height:25px;width:45px; text-align:center;}
.dianpusousou li:hover{ background:#FC2407; color:#fff;}
.dianpusousou{ z-index:9999; position:absolute; background:#fff;width:45px;  left:-2px;border:2px solid #D82005;}
.souyoufeileitop{ border:1px solid #e1e1e1; width:1188px; background:#fff; color:#656565; font-size:14px;font-family:'微软雅黑'; margin-top:10px;}
.souyoufeileinrdi{ width:1168px; padding:0 10px; height:33px; line-height:33px; background:#f9f9f9;}
.leimu{width:1188px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; margin-top:-1px; clear:both;}
.leimuTitle { float:left; padding:7px 16px 6px 16px;}
.shuxin{ float:left;}
.shuxin div{ float:left; position:relative; height:33px;}
.shuxin ul{ position:absolute; z-index:999; background:#e8e8e8; left:-1px; font-size:12px}
.shuxin ul li{ height:24px; line-height:24px; cursor:pointer; width:105px;padding-left:15px;}
.shuxin ul li:hover{ background:#c21902; color:#fff;}
#categoryDiv { float:left; width:1100px;}
#categoryDiv a { display:block; padding:7px 16px 6px 16px; float:left; font-weight:bold;}
.shuxin a { display:block; height:33px; line-height:33px; padding-left:15px; padding-right:15px;}
.shuxin a:hover { display:block; height:33px; line-height:33px;background-color:#e8e8e8; padding-right:15px;}

.xuanzhepaixu{border:1px solid #dedede; border-top:#D82005 solid 2px; height:35px; background:#fff; color:#5e5e5e;  background-color:#f6f6f6;}

.sectednr{width:1168px; overflow:hidden;}
.sectednr li{ height:25px; color:#fff; background:#c21902; text-align:center; line-height:25px; display: inline-block;
float: left;
padding: 0 20px;
height: 25px;
line-height:25px;

margin: 10px 10px 10px 10px;
position: relative;}
.cha{position: absolute;
right:5px; font-size:12px; top:0px;
}



/*-- 登录板块mainbody --*/
.mainbodyw{ width:100%; background:#A7D4F7; overflow:hidden;height:700px;  z-index: -1;}
.mbInside { height:inherit; width:1190px; margin:0 auto; padding-top:50px;}
.mbLoginPanel { width:316px; height:323px; position:relative; margin-top:80px;}
.panelBg { width:316px; height:323px; background-color:#000000; filter:alpha(opacity:40);opacity:0.4; position:absolute; z-index:71;}
.panelBox { width:316px; height:323px; position:absolute; z-index:73;}
.panelBox table { width:272px; height:265px; margin:0 auto; color:#ffffff; font-size:12px; margin-top:25px;}
.input_user_1 { width:270px; border:1px solid #5B5B5B; height:29px; color:#333333; font-size:14px; line-height:29px; text-indent:24px; background:url(../img/icon_imgs.gif) no-repeat 6px -96px #ffffff;}
.input_user_2 { width:270px; border:1px solid #5B5B5B; height:29px; color:#333333; font-size:14px; line-height:29px; text-indent:24px; background:url(../img/icon_imgs.gif) no-repeat 6px 6px #ffffff;}
.input_passw_1 { width:270px; border:1px solid #5B5B5B; height:29px; color:#333333; font-size:14px; line-height:29px; text-indent:24px; background:url(../img/icon_imgs.gif) no-repeat 6px -149px #ffffff;}
.input_passw_2 { width:270px; border:1px solid #5B5B5B; height:29px; color:#333333; font-size:14px; line-height:29px; text-indent:24px; background:url(../img/icon_imgs.gif) no-repeat 6px -43px #ffffff;}
.subLogin{ width:270px; border:1px solid #AD3232; height:37px; color:#ffffff; font-size:14px; line-height:36px; background:url(../img/inputBgLog.jpg) repeat-x; font-weight:bold; text-align:center}
.panelBox table a{ color:#ffffff;}
.panelBox table a:hover{ color:#ffffcc;}
.panelBox table img { margin-bottom:-3px;}

/*-- 普通用户注册 --*/
.userRegPanel{ width:100%; height:auto;}
.urpInside { width:1198px; height:auto; margin:0 auto;  padding-top:40px;}
.urpMiddleBox { width:1198px; height:auto; margin:0 auto; background:url(../img/regbg.jpg) repeat-y;}
.urpTopBox { width:1198px; height:5px; margin:0 auto; background:url(../img/regbgtop.jpg) repeat-y;}
.urpFootBox { width:1198px; height:6px; margin:0 auto; background:url(../img/regbgfoot.jpg) repeat-y;}
.urpTopTip { width:1188px; height:100px; background-color:#F9F9F9; margin:0 auto 70px auto;}
.urpTopTip div { vertical-align:middle; text-align:center; padding-top:35px;color: #A4A4A4;}
.urpMiddleDiv { width:390px; margin:20px auto 0 auto; clear:both;}
.userRegInput_1 { width:388px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -76px; text-indent:25px;}
.userRegInput_2 { width:388px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left top; text-indent:25px;}
div.urpAlert{ width:390px; margin:0 auto; height:30px; line-height:30px; color:#999999; font-size:12px; clear:both}
div.urpAlert .okMsg em { display:block; float:left; height:14px; width:14px; background:url(../img/alertbg.jpg) no-repeat left top; margin-top:7px; margin-right:4px;}
div.urpAlert .failMsg em { display:block; float:left; height:14px; width:14px; background:url(../img/alertbg.jpg) no-repeat left -14px; margin-top:7px; margin-right:4px;}
.urpRegPassWord_1 { width:388px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -114px; text-indent:25px;}
.urpRegPassWord_2 { width:388px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -38px; text-indent:25px;}
.urpRegPassWord_10 { width:388px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -304px; text-indent:25px;}
.urpRegPassWord_11 { width:388px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -266px; text-indent:25px;}
.urpRegPassWord_12 { width:388px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -228px; text-indent:25px;}
.urpYanZhengCode_1 { width:248px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -190px; text-indent:25px;}
.urpYanZhengCode_2 { width:248px; height:38px; border:1px solid #e0e0e0; line-height:38px; font-size:14px; background:url(../img/userregbg.jpg) no-repeat left -152px; text-indent:25px;}
.urpMiddleDiv a { font-size:12px; color:#666666;}
.urpMiddleDiv a:hover { font-size:12px; color:#ff5500;}
.urpSubMit {width:388px; border:1px solid #AD3232; height:37px; color:#ffffff; font-size:14px; line-height:36px; background:url(../img/inputBgLog.jpg) repeat-x; font-weight:bold; text-align:center}

/*-- 商家注册 --*/
.busyTrip { width:1188px; height:135px; background-color:#F9F9F9; margin:0 auto 40px auto; padding-top:20px;}
.busyTrip div { padding-top:5px; width:1150px; margin:0 auto;}
.busyTrip .tripHr { border-bottom:1px dotted #dedede; padding-bottom:10px;}
.frspan { display:block; float:left; height:40px; width:79px; background:url(../img/stepimg.gif) no-repeat left top;}
.tripDiv { height:40px; padding-top:20px !important;}
.tripDiv table { float:left;}
.sespan { display:block; float:left; height:40px; width:79px; background:url(../img/stepimg.gif) no-repeat left -40px;}
.thspan { display:block; float:left; height:40px; width:79px; background:url(../img/stepimg.gif) no-repeat left -80px;}
.busyModel { height:50px; width:1000px; margin:0 auto; overflow:hidden; padding-bottom:30px;}
.model_1 { width:304px; height:48px; float:left; background:url(../img/busy.gif) no-repeat left top; font-size:20px; font-family:"微软雅黑"; font-weight:bold; color:#999999; text-indent:100px; line-height:48px; cursor:pointer; margin-right:40px;}
.model_1:hover { width:304px; height:48px; float:left; background:url(../img/busy.gif) no-repeat left -48px; font-size:20px; font-family:"微软雅黑"; font-weight:bold; color:#c21902; text-indent:100px; line-height:48px; cursor:pointer; margin-right:40px;}
.model_2 { width:304px; height:48px; float:left; background:url(../img/busy.gif) no-repeat left -48px; font-size:20px; font-family:"微软雅黑"; font-weight:bold; color:#c21902; text-indent:100px; line-height:48px; cursor:pointer; margin-right:40px;}
.modelInside { width:1150px;}
.busyInfoBox { width:420px; height:75px; margin:0 auto;}
.bibTxt { height:40px; width:100px; text-align:left; float:left; padding-top:10px;}
.busyInput { width:290px; height:29px; border:1px solid #e0e0e0; background:url(../img/inputBg2.jpg) no-repeat left top; line-height:29px;}
.bibinput { float:left; width:300px; height:31px; margin-left:15px;}
.bibAlert { width:300px; margin:0 auto; height:30px; line-height:30px; color:#999999; font-size:12px; float:left; margin-left:15px;}
.bibAlert .okMsg em { display:block; float:left; height:14px; width:14px; background:url(../img/alertbg.jpg) no-repeat left top; margin-top:7px; margin-right:4px;}
.bibAlert .failMsg em { display:block; float:left; height:14px; width:14px; background:url(../img/alertbg.jpg) no-repeat left -14px; margin-top:7px; margin-right:4px;}
.bibAlert a { font-size:12px; color:#666666;}
.bibinput select { width:70px; height:30px; border:1px solid #e0e0e0; margin-right:10px; line-height:30px; font-size:14px;}
.bibTxt select { width:70px; height:30px; border:1px solid #e0e0e0; margin-right:10px; line-height:30px; font-size:14px;}
.bibinput img { float:right;}
.noEmail { padding-bottom:30px; }
.noEmail p { font-size:12px; color:#999999; padding-top:10px;}

/*-- 供应商家 --*/
.buniesList { width:100%; clear:both; margin-top:40px;}
.buniesSelectBar { width:100%; height:38px; margin-top:20px;}
.bsbInside { width:1188px; margin:0 auto; height:inherit; border:1px solid #dedede; background-color:#fafafa; position:relative;}
.bsbBgBar { width:1188px; background-color:#F1F1F1; height:38px; border-bottom:1px solid #dedede;}
.bsbUl { width:700px; height:38px; position:absolute; z-index:97;}
.bsbUl li { float:left; padding:10px 20px 11px 20px; border-right:1px solid #dedede; background-color:#fafafa;}
.bsbLiSelect { float:left; padding:10px 20px 11px 20px; border-right:1px solid #dedede; background-color:#ffffff !important; border-top:2px solid #c21902; margin-top:-1px;}
.bsbSort { height:30px; width:1188px;}
.bsbSortDiv { height:16px; width:100px; float:left; margin-left:15px;}
.sortUp_1 { display:block; float:left; height:13px; width:13px; background:url(../img/sotrtbg.gif) no-repeat 2px 2px #f0f0f0; border:1px solid #dedede; cursor:pointer; margin-top:1px; margin-left:-1px;}
.sortUp_2 { display:block; float:left; height:13px; width:13px; background:url(../img/sotrtbg.gif) no-repeat 2px -19px #f0f0f0; border:1px solid #dedede; cursor:pointer; margin-top:1px; margin-left:-1px;}
.sortDown_1 { display:block; float:left; height:13px; width:13px; background:url(../img/sotrtbg.gif) no-repeat -19px 2px #f0f0f0; border:1px solid #dedede; cursor:pointer; margin-top:1px; margin-left:-1px;}
.sortDown_2 { display:block; float:left; height:13px; width:13px; background:url(../img/sotrtbg.gif) no-repeat -19px -19px #f0f0f0; border:1px solid #dedede; cursor:pointer; margin-top:1px; margin-left:-1px;}
.bsbSortDiv div { float:left; padding:10px 0 10px 8px;}
.buniesInside { width:1190px; margin:0 auto;}
.buniesLeft { width:1190px;}
.buniesRight { width:275px; float:right;}
.busBoxes { width:1190px; height:510px; background-color:#ffffff; margin-bottom:20px; overflow:hidden;}
.bsbLeftBox { width:1193px;height:110px; position:relative; overflow: hidden; font-size: 13px;font-weight: bold;}
.bsbLeftBox ul { float:left; width:370px;overflow:hidden;}
.bsbLeftBox .w200{width:200px;position: absolute;right: 0;bottom: 0;}
.bsbLeftBox ul #buniesName{  font-size: 18px;}
.bsbLeftBox li { color:#454545; line-height:25px;}
.bsbLeftBox li img { margin-bottom:-7px;}
.bsbLeftBox dl { float:left; width:120px; height:80px;}
.bsbLeftBox dd { float:left; padding-top:7px;}
.bsbLeftBox dt { float:left;}
a.markShopButn:link { display:block; float:left; height:28px; width:82px; color:#343434; text-align:center; line-height:28px; margin-left:10px; background:url(../img/dangan/enter_shop_bg.jpg) no-repeat;}
a.markShopButn:visited { display:block; float:left; height:28px; width:82px; color:#343434; text-align:center; line-height:28px; margin-left:10px; background:url(../img/dangan/enter_shop_bg.jpg) no-repeat;}
a.markShopButn:hover { display:block; float:left; height:28px; width:82px; color:#ae0004; text-align:center; line-height:28px; margin-left:10px; background:url(../img/dangan/enter_shop_bg.jpg) no-repeat;}
.bsbRigthBox {width:1063px; height:330px; margin-top:13px; overflow:hidden; margin-left:120px; background-color:#fafafa; border:3px solid #f0f0f0;}
.bsbbiInside { padding:10px; width:1063px;}
.bsbImgBox { width:175px; background-color:#ffffff; float:left; margin-right:15px; padding:10px;}
.bsbImgBox p { text-indent:10px; line-height:20px;}
.bsbTopInfo { height:20px; margin-bottom:10px; margin:0 auto; line-height:20px; padding:10px;}
.bsbBodyImgs { width:100%; overflow:hidden; margin:0 auto;}
.buniesAdd { margin-bottom:15px;}

/*商品详情属性分类 */
/*body, button, input, select, textarea {
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}*/
.tb-property-x .tb-key {
  padding-left: 18px;
  margin-bottom: 20px;
}
.tb-key {
  z-index: 6;
  position: relative;
  margin: 9px 0 9px -9px;
  padding: 9px 0 0 18px;
}

.tb-skin{
	 border-bottom: 1px dotted #cdcdcd;
}
.tb-key .tb-skin .tb-stock {
  position: relative;
    padding-left: 8px;
} 

.tb-key dl {
    margin-bottom: 10px;
}
.tb-key dl dt {
    float: left;
    margin-right: 5px;
    width: 55px;
    color: #6C6C6C;
}
.tb-key dl dd {
    overflow: hidden;
   
}
.tb-key .tb-prop li {
    float: left;
    position: relative;
    margin: 0px 5px 10px 0px;
    vertical-align: middle;
    line-height: 20px;
    background: none repeat scroll 0% 0% #FFF;
}
.tb-key .tb-prop span:hover {
  padding: 2px 5px; 
  color: #000;
  border: 2px solid #E71706;
  background: #FFF;
  cursor:pointer
}

/* 鼠标点击后的样式 */
.spanStyle{
  padding: 2px 5px; 
  color: #000;
  border: 2px solid #E71706;
  background: #FFF;
  cursor:pointer
	
}



.tb-key .tb-prop li span {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  padding: 3px 6px;
  min-width: 10px;
  _width: 10px;
  text-align: center;
  border: 1px solid #DCDCDC;
  background: #FFF;
  -moz-transition-property: border-color,background;
  -o-transition-property: border-color,background;
  -webkit-transition-property: border-color,background;
  transition-property: border-color,background;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  z-index:999;

}
 .tb-stock .tb-reduce {
  border-right: 0!important;
  
}
.tb-amount {
  line-height: 28px;
}
.tb-stock a,.tb-stock a:hover {
  display: block;
  _display: inline;
  float: left;
  width: 26px;
  height: 26px;
  border: 1px solid #ccc;
  line-height: 26px;
  padding: 0;
  vertical-align: top;
  text-align: center;
  background-color: #ededed;
  overflow: hidden;
}

.tb-iconfont {
  font-family: tb-iconfont!important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaleFont type;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tb-key .tb-stock .tb-stock-num, .tb-key .tb-stock input {
  float: left;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #666;
  border: 1px solid #CCC;
  outline: 0;
  background: #FFF;
  ime-mode: disabled;
}
.tb-choice em {
  margin-right: .5em;
    font-weight: 700;
    color:#f00;
}

/*-- 商品详情页面 --*/
.disabled-div { position:absolute; z-index:13; height:30px; width:53px; top:0;cursor:not-allowed;}
.shopInfoTop { width:100%; clear:both; height:140px;position:relative;}
.shopTopNav { width:1190px; height:35px; margin:0 auto;position:absolute; bottom:0;}
.background-color:#c21902 { width:1190px; height:35px;}
.shopNavInside li {float:left;}
.shopNavInside li a { display:block; padding:9px 27px; margin-right:1px; background-color:#ff6a6a; color:#ffffff;}
.shopNavInside li a:hover { display:block; padding:9px 27px; margin-right:1px; background-color:#fb3b20; color:#ffffff;}
.shopNavSelected a { background-color:#c21902; font-weight:bold; color:#ffffff;}
.goodsDetailsBody { width:100%; height:auto; clear:both; padding-top:20px;}
.goodsBodyInside { width:1190px; height:auto; margin:0 auto; position:relative;}
.detailsLeft { float:left; width:975px;}
.detailsRight { float:right; width:200px;}
#evaluateList { clear:both;}
.goodsImgTxtBox { width:975px; height:556px;}
.gitbLeft { height:500px; width:430px; float:left}
.gitbImgBox { height:428px; width:428px; border:1px solid #dedede; background-color:#ffffff;}
.gitbRight { float:right; width:530px; height:556px;}
.gitbRight h3 { font-size:18px; padding:0 0 20px 0;}
.priceDiv { width:530px; height:87px; background:url(../img/pricebg.jpg) no-repeat;}
.gitbRight table {}
.gitbRight table td { padding:10px; color:#666666;}
.gitbButns { padding-top:25px; padding-bottom:25px;}
.gitbButns a { margin-right:10px;}
.gitnInfo { height:22px; width:530px; border:1px solid #F7E8E8; background-color:#FEF9EE; line-height:22px; text-indent:5px; color:#666666;}
.priceDiv div { float:left;}
.priceTxt { padding:38px 0 0 10px;}
.priceNum { padding:27px 0 0 10px;}
.priceAlert { margin:33px 0 0 20px;}
a.add_shop:link { display:block; float:right; height:27px; line-height:27px; width:77px; background:url(../img/icon/add_fav_shop.png) no-repeat; color:#ff6a6a; padding-left:30px;}
a.add_shop:hover { display:block; float:right; height:27px; line-height:27px; width:77px; background:url(../img/icon/add_fav_shop.png) no-repeat; color:#ff6a6a; padding-left:30px;}
a.add_fav:link {  display:block; float:right; height:27px; line-height:27px; width:77px; background:url(../img/icon/add_fav_shop.png) no-repeat left -86px; color:#ff6a6a; padding-left:30px;}
a.add_fav:hover { display:block; float:right; height:27px; line-height:27px; width:77px; background:url(../img/icon/add_fav_shop.png) no-repeat left -124px; color:#ff6a6a; padding-left:30px;}

.infoSelectBar { width:975px; height:36px; clear:both; background-color:#fafafa; position:relative;}
.infoSelectBg { width:973px; height:33px; border:1px solid #e8e8e8;}
.baseInfo { width:975px; padding-top:5px; padding-bottom:5px; height:auto; margin-bottom:20px; clear:both; background-color:#fafafa; margin-top:20px;}
.baseInfo div { width:243px; float:left; padding:5px 0; text-indent:15px;}
.downDataList { margin:20px 0;}
.downDataList table { width:975px; border-top:1px solid #dedede; border-left:1px solid #dedede;}
.downDataList table td{ padding:7px; border-right:1px solid #dedede; border-bottom:1px solid #dedede;}
.bgTd { background-color:#fafafa; font-weight:bold;}

.shopActive { width:198px; height:auto; border:1px solid #dedede; margin-bottom:15px;}
.shopHead { font-weight:bold; text-indent:5px; line-height:30px; border-bottom:1px solid #dedede; background-color:#fafafa;}
.actList li { width:190px; margin:0 auto; color:#999999; padding:10px 0; border-bottom:1px dotted #f0f0f0;}
.chuchuang li { width:158px; margin:0 auto; border-bottom:1px dotted #dedede; padding-bottom:15px; padding-top:15px;}
.chuchuang li img { border:1px solid #f0f0f0;}
.chuchuang li p { padding-top:2px;}
.priceAlert { width:151px; height:23px; color:#ffffff; line-height:23px; text-indent:10px; background:url(../img/pricealert.jpg) no-repeat;}
.intoTopInside { width:1190px; margin:0 auto; height:inherit;}
.infoTopImg img { border:1px solid #ffffff;}
.infoTopImg { height:75px; width:75px; float:left}
.infoTopText { padding-left:10px; float:left; line-height:26px;}
.infoTopLeft { float:left; width:500px; padding-top:15px;}
.infoTopRight { float:right; padding-top:30px;}
.infoTopRight td { text-align:right; padding:2px;}
.gitbThumbImgList li { float:left; margin-right:10px; border:1px solid #dedede; height:58px; width:58px; margin-top:10px;}
.gitbThumbImgList li:hover { float:left; margin-right:10px; border:1px solid #E81C00; height:58px; width:58px; margin-top:10px;}
.addMarkFav { padding-top:15px;}
.infoSelectList li { float:left; height:35px; border-right:1px solid #f0f0f0; cursor: pointer; width:110px; line-height:34px; text-align:center;}
.infoSelectedLi { float:left; height:35px; border-right:1px solid #E81C00 !important; border-left:1px solid #FC2407 !important; background-color:#cd0a0a;color:#ffffff; cursor: pointer; width:110px; line-height:34px; text-align:center;}

/*-- 全部货源 --*/
.sortUpPage { height:18px; width:18px; background:url(../img/sortUporDown.jpg) no-repeat left top; display:block; float:left; margin-top:7px; cursor:pointer;}
.sortDownPage { height:18px; width:18px; background:url(../img/sortUporDown.jpg) no-repeat -17px top; display:block; float:left; margin-top:7px; cursor:pointer;}
.sortPage div { float:left;}

.subListLi { position:absolute; z-index:777; padding-top:54px; display:none;}
.subListLi li { border:0 !important; border:none !important;}
.subListLi li a {background-color:#c21902; padding:5px 39px 5px 39px !important; clear:both;}

/*-- 商家主页面 --*/
.tongZhi { width:1188px; height:47px; border:1px solid #D2C7A4; margin:20px auto; background-color:#E3D7B1;}
.tzTitle { float:left; height:47px; width:70px; text-align:center; line-height:47px; background:url(../img/tongzhibg.gif) no-repeat right top;}
.tzBox { color:#5c5c5c; padding-top:8px; padding-left:20px; float:left; width:1000px}
#closeTZ { display:block; height:17px; width:17px; float:right; border:1px solid #A89E7D;background-color:#E3D7B1; color:#A89E7D; text-align:center; line-height:17px; font-size:18px; cursor:pointer; margin:13px;}
.sortShopBar { width:1188px; border:1px solid #dedede; background-color:#fafafa; margin:0 auto; height:35px; margin-top:20px;}
.shopGoodsListBox { width:1190px; padding-top:10px; height:auto; overflow:hidden; margin:0 auto;}
.sglbInside { width:1210px;}
.fengXiangDivOut { display:none;}
.goodsListBoxes { border:1px solid #dedede; float:left; width:220px; height:310px; margin-right:20px; background: #fff;margin-top: 20px;}
.goodsListBoxes:hover { border:1px solid #c21902; float:left; width:220px; height:310px; margin-right:20px}
.goodsListBoxes:hover .fengXiangDivOut { display:block;}
#listImgBox { height:220px; width:220px; border-bottom:1px solid #dedede; position:relative;}
.goodsListBoxes h3 {padding-top:5px; padding-left:5px; height:40px;}
.goodsListBoxes p {padding-top:5px; padding-left:5px; color:#666666; padding-top:7px;}
.goodsListBoxes p span { float:right; padding-top:5px; padding-right:7px;}
.fenXiangTopUl { position:relative;}
.fenXiangDivBg { position:absolute; bottom:0; height:32px; background-color:#000000; width:220px; filter:alpha(opacity:60);opacity:0.6; z-index:91;}
.fenXiangDiv { position:absolute; bottom:0; height:32px;width:220px; color:#ffffff; z-index:101;}
.fenXiangDiv a { color:#e0e0e0;}
.fenXiangDiv a:hover { color:#ffffff;}
.addFavDiv { background:url(../img/addFavhert.png) no-repeat 25px 8px;text-indent:55px;cursor:pointer;float:left; position:relative; width:110px; height:32px; line-height:32px;}
.addFenXiang { background:url(../img/addfenxiang.png) no-repeat 25px 8px;text-indent:55px;cursor:pointer;float:left; position:relative; width:110px; height:32px; line-height:32px;}
.fengXiangButtonDiv { height:80px; width:220px; float:right !important; background:url(../img/addfavButnBg.png) repeat; display:none; position:absolute; z-index:121; left:-110px;}

.copylink { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left top; padding:0 !important; margin:5px;}
.tengxunweibo { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -17px; padding:0 !important; margin:5px;}
.xinlang { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -34px; padding:0 !important; margin:5px;}
.sohu { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -51px; padding:0 !important; margin:5px;}
.wangyi { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -68px; padding:0 !important; margin:5px;}
.qqzone { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -85px; padding:0 !important; margin:5px;}
.qqpengyou { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -102px; padding:0 !important; margin:5px;}
.renren { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -119px; padding:0 !important; margin:5px;}
.kaixin { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -136px; padding:0 !important; margin:5px;}
.taojianghu { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -153px; padding:0 !important; margin:5px;}
.douban { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -170px; padding:0 !important; margin:5px;}
.baidusoucang { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -187px; padding:0 !important; margin:5px;}
.weixin { display:block; float:left ; height:17px; width:17px; background:url(../img/shejiaoicon.png) no-repeat left -204px; padding:0 !important; margin:5px;}

.goodsTagDiv { position:absolute; z-index:77; height:43px; width:42px; top:0; right:0;}

/*-- 商家介绍 --*/
.sbjieshao{ width:1148px; height:auto; margin:20px auto; clear:both; border:1px solid #dedede; padding:20px;}
.geiduosb{ width:130px;background:#fff; border:1px solid #e8e8e8; padding-bottom:20px;}
.geiduosb li{ margin:10px 0 0 10px; }
.geiduosb li .gdimg{border:1px solid #e8e8e8; width:100px; height:100px; padding:5px; }
.geiduosbtu{ text-align:center; height:30px; line-height:30px;  color:#4e4e4e;}
.sbjieshaotitle{color:#4e4f4e; position:relative;}
.jubaonr{ width:78px;border:1px solid #dadada;position:absolute; top:-5px;height:70px; left:-30px; z-index:45;}
.jubaojt{ position:relative;width:80px; height:72px; color:#abab9d}
.jubaonr .div1{ height:25px; line-height:25px; text-align:center; width:78px; position:absolute; bottom:25px;}
.jubaonr div{ width:78px; height:25px; background:#fff;}
.jubaonr div a{ color:#abab9d; display:block;}
.jubaonr div a:hover{ background:#C03; color:#fff; display:block; }
/*公司简介*/
.jj_h4{
	border-bottom:2px solid #D82005;
	color:#787878;
	height:20px;
	padding:5px;
}
.conpany_img{
	width:200px;
	margin-left:10px;
	float:left;
}
.conpany_img a{
	color:#c7c1c1;
	display:block;
	margin-left:25px;
}
.conpany_img div{
	width:160px;
	margin-left:15px;
}
.papa{
	width:900px;
	font-size:13px;
	line-height:17px;
	color:#777777;
}
.rz_table{
	width:900px;
}
.rz_table div{
	width:250px;
	border:1px solid #d2d2d2;
	float:left;
	padding-top:5px;
	height:25px;
	text-align:center;
}
.rz_table p{
	height:25px;
	width:890px;
	border:1px solid #d2d2d2;
	text-align:center;
}
.rz_wrap h3{
	width:140px;
	height:20px;
	text-align:center;
	background:#D82005;
	color:#FFF;
	font-size:16px;

}
.h_border{
	border-bottom:2px solid #D82005;
}
.rz_table_1{
	/*border:2px dashed #d2d2d2;*/
	margin-top:20px;
	padding:10px;
	margin-bottom:10px;
}
.rz_table_1 h4{
	color:#787878;
	font-size:14px;
}
.rz_table_1 table{
	border:1px solid #d2d2d2;
	width:800px;
	margin-top:10px;
	font-size:14px;
}
.rz_table_1 table td{
	border:1px solid #d2d2d2;
	text-align:center;
	height:30px;
	color:#767676;
}
.bg_col{
	background:#f7f7f7;
}
.rz_table_1 img{
	width:160px;
	height:160px; margin:0 auto;
   
}
.rz_table_1 ul{
	margin-top:20px;
	margin-left:50px;
}
.rz_table_1 li{
	float:left;
	border:1px solid #d2d2d2;
	background:#f7f7f7;
	margin-right:10px;
	margin-left:10px;
	padding:20px;
	text-align:center;
}
.rz_table_1 li p{
	margin-bottom:10px;
}
.nvxiesbb1a{padding-bottom:30px;}
.nvxiesbb1a li{ float:left; width:160px; padding:32px; border:1px solid #fff; }
.nvxiesbb1a li:hover{ border:1px solid #F00;}
.nvxiesbb1a li a:hover{ color:#F05033}

.sysqall{border:1px solid #E8E8E8; width:1188px; background:#fff; padding:0px 0 50px 0;}
.sysqallnr li{ float:left;  width:130px; text-align:center;  border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8; height:40px;}
.sysqallnr li a{ color:#333;background:#F9F9F9;border-right:1px solid #E8E8E8; border-bottom:1px solid #E8E8E8; display:block;width:130px; height:40px;}
.sysqallnr li .sected{  color:#F00;background:#fff; border-bottom:1px solid #fff;  display:block;width:130px; height:40px;}
.sysqallnr{width:1188px; background:#f9f9f9; height:40px; line-height:40px; font-family:Arial, Helvetica, sans-serif;border-bottom:1px solid #e8e8e8;}
.allpaixu{ width:1118px; background:#f9f9f9; height:35px; margin:20px; font-size:14px; line-height:35px; padding-left:30px;}
.paixuall{ width:1106px; background:#f9f9f9; border:1px solid #d9d9d9; height:150px; border-top:2px solid #a6c6ff; margin-left:20px; padding:20px; margin-top:20px;}
.paixusoutu{ width:196px; border:1px solid #d9d9d9; height:100px; background:#fff; padding:5px; }
.c4692d2{ color:#4692d2}
.w208{ width:208px;}
.paixuzinr{ font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:30px; color:#888; margin-left:40px; float:left;}
.cff512c{ color:#ff512c}
.paixuzinr span{ color:#333;}
.djjr a{ width:140px; height:35px; color:#fff; background:#e6005c; font-size:16px; text-align:center; line-height:35px; letter-spacing:2px; margin-top:50px; margin-left:20px; display:block}
.djjr a:hover{background:#FF6AB5;}
.dqwz{ line-height:40px;}
.dqwz a{ color:#333;}
.dqwz a:hover{ color:#ff4261;}
.ml100{ margin-left:100px;}

/*-- 商家动态 --*/
.shangJiaDongTai { width:1188px; border:1px solid #dedede; height:auto; margin:20px auto;}
.shangJiaDongTai h3 { height:30px; line-height:30px; text-indent:15px; font-size:15px; color:#454545; background-color:#fafafa; border-bottom:1px solid #dedede;}
.shangJiaDongTai li { height:40px; line-height:40px; text-indent:15px; width:1180px; margin:0 auto; border-bottom:1px dotted #dedede;}
.shangJiaDongTai span { float:right; font-size:10px; color:#999999;}

/*-- 评论列表 --*/
.pingLunBox { width:973px; position:relative; clear:both; margin-top:20px; border:1px solid #e8e8e8;}
.changeDiv { height:30px; width:973px; background-color:#fafafa; border-bottom:1px solid #e8e8e8;}
.changeDiv li { float:left; text-align:center; padding:7px 40px 6px 40px;}
.pingLunSelected {color:#D82005;}
.pingLunCommandBox { width:950px; min-height:137px; margin:20px auto;}
.commandLeft { float:left; height:137px; width:90px;}
.commandLeft p { line-height:32px; text-align:center;}
.commandRight { float:right; width:850px; border:1px solid #f0f0f0;}
.commandRight div { background-color:#fafafa; padding:10px 0 10px 20px; color:#565656; line-height:30px;}
.commandRight div h3 { height:30px; font-size:12px; color:#686868; font-weight:normal;}
.commandRight div h3 img { margin-top:10px;}
.commandRight p { padding:5px 0 5px 20px; color:#F60;}
.commandRight span { float:right; padding-right:10px; color:#a0a0a0;}
.commandSubmitBox { width:950px; margin:20px auto; border-top:1px solid #f0f0f0; clear:both;}
.commandSubmitBox div{ padding:10px 0; clear:both;}
.submitTextArea { width:948px; border:1px solid #dedede; height:80px; background:url(../img/textareabg.gif) repeat;}
.tijiaoPingLun { height:31px; width:110px; background:url(../img/inputBgLog.jpg) repeat-x left top; color:#ffffff; font-weight:bold; text-align:center; line-height:27px; border:1px solid #D71A1A;}
.tousuFankui { width:973px; min-height:330px; margin:20px auto; border:1px solid #dedede; padding-top:20px;}
.tousuFankui div{ margin:10px 10px;}
.toushuDiv li { border:1px dotted #dedede; padding:6px 15px; float:left; margin-right:20px; margin-top:10px;}
.toushuDiv li:hover { border:1px solid #c21902; padding:6px 15px; float:left; margin-right:20px; margin-top:10px; cursor:pointer;background:url(../img/toushuselect.gif) no-repeat right bottom;}
.toushuSelected { border:1px solid #c21902 !important; padding:6px 15px; float:left; margin-right:20px; margin-top:10px; cursor:pointer; background:url(../img/toushuselect.gif) no-repeat right bottom;}
.toushuDiv { padding-bottom:20px; height:80px;}

.worldSelectBar { width:1190px; height:55px; margin:0 auto; overflow:hidden;}
.wsbInside { width:1210px;}
.wsbUL li { border:1px solid #dedede; background-color:#ECECEC; padding:7px 13px 7px 13px; float:left; font-size:13px; margin-right:5px;}
.wsbUL li a:hover { color:#ffffff}
.wsbUL li:hover { border:1px solid #D82005; background-color:#D82005; padding:7px 13px 7px 13px; float:left; font-size:13px; margin-right:5px; color:#ffffff}

/*-- 首页弹出广告 --*/
.tanchu { width:1190px; height:90px; margin:0 auto; padding-top:70px; position:relative; display:none;}
.closeTanChu { position:absolute; z-index:41px; height:25px; width:25px; background-color:#ff5500; text-align:center; line-height:25px; font-size:20px; color:#ffffff; right:-25px; cursor:pointer;}

/*-- 帮助中心 --*/
.articleBody { width:1190px; margin:0 auto; padding-top:20px;}
.articleLeft { width:185px; float:left; height:auto;}
.articleRight { width:990px; float:right; height:auto; background-color:#ffffff; border:1px solid #dedede;}
.articleRight h3 { font-size:16px; text-align:center; height:75px; line-height:75px; border-bottom:1px dotted #dedede; margin-bottom:20px;}
.articleInside{ width:960px; margin:0 auto;}
.articleInside p { line-height:24px; color:#565656; padding-left:10px;}
.articleInside h4 { background-color:#fafafa; height:30px; line-height:30px; text-indent:10px; font-size:12px; margin-bottom:10px;}
.qqAlink { height:27px; width:134px; text-indent:35px; line-height:27px; display:block; background:url(../img/qqBarbg.gif) no-repeat;}
.articleHead { height:28px; background-color:#958f8f; text-align:center; font-weight:bold; color:#ffffff; line-height:28px; font-size:14px; width:185px;}

.artLeftInside { border:1px solid #dedede;  background-color:#ffffff; height:inherit;}
.artLeftInside dl { width:170px; margin:10px auto 15px auto;}
.artLeftInside dt { height:24px; line-height:24px;border-bottom:1px dotted #dedede;}
.helpIcon_1 { display:block; height:17px; width:17px; background:url(../img/helpcenter.gif) no-repeat left top; float:left; margin-top:2px; margin-right:5px;}
.helpIcon_2 { display:block; height:17px; width:17px; background:url(../img/helpcenter.gif) no-repeat left top; float:left; margin-top:2px; margin-right:5px;}
.helpIcon_3 { display:block; height:17px; width:17px; background:url(../img/helpcenter.gif) no-repeat left top; float:left; margin-top:2px; margin-right:5px;}
.helpIcon_4 { display:block; height:17px; width:17px; background:url(../img/helpcenter.gif) no-repeat left top; float:left; margin-top:2px; margin-right:5px;}
.artLeftInside dd { height:24px; line-height:24px; text-indent:10px; background:url(../img/artLibg.gif) no-repeat 9px center; padding-left:10px;}
.artLeftInside dd a { color:#787878;}
.artLeftInside dd a:hover { color:#ff3300;}

/*-- 引导页 --*/
.yindao { background:url(../img/yindaobg.jpg) repeat center top;}
.ydTopFunBar { width:1190px; height:30px; line-height:30px; padding-top:20px; margin:0 auto;}
.ydUserCenter{ float:right;}
.ydPosCity { float:left;}
.logoAndNav {width:1190px; margin:0 auto; height:80px; padding-top:40px; padding-bottom:55px;}
.lnLogo {}
.lnNavUl  li { float:left;}
.lnNavUl  li a { display:block; padding:0 0 5px 45px; font-size:16px; font-weight:bold;}
.fourCate { width:1190px; margin:0 auto; height:73px; overflow:hidden;}
.fourCate ul li { float:left; margin-right:16px;}
.fcInside { width:1220px;}
.fourCateAdCol {width:1190px; margin:0 auto; overflow:hidden;}
.fcacInside { width:1220px;}
.adColDiv { float:left; width:285px; padding-top:30px; margin-right:16px;}
.adColDiv span { display:block; margin-bottom:6px;}

/*-- 代发管理 --*/
.body_center {
    background-color: #ffffff;
    border: 1px solid #e4eced;
    float: right;
    width: 1000px;
}
.daifaTitle { height:25px; line-height:25px; width:100%; border-bottom:1px solid #dedede; margin:5px 0; background-color:#f0f0f0; padding-left:10px;}
.daifaTitle div{ float:left;}
.listHeadDiv { padding:6px 0; font-size:14px; font-weight:bold; border-bottom:1px solid #dedede;}
.daifaListDiv { height:20px; padding:5px 0; padding-left:10px;}
.daifaListDiv div { float:left; line-height:20px;}
.daifaInput { border:1px solid #787878; height:20px;}
.listSeHeadDiv { padding:25px 0 5px 0; font-weight:bold; border-bottom:1px solid #f0f0f0; margin:0 0 20px 0;}

/*-- 用户中心_改2 --*/
.border     { border:1px solid #e3e3e3; padding:1px;}
.space { width:100%; clear:both; height:4px; line-height:4px;}
.we   { width:1186px; margin:0 auto;}
.left_hover { width:155px; border:1px solid #eaeaea; min-height:825px; float:left; background:#FFF;}
.left_bt  { width:100%; line-height:46px; text-align:center;}
.left_bt span { font-size:18px; color:#c21902; font-weight:bold;}
.tit  { background:url(../img/left_hover.jpg); width:155px; height:39px; line-height:43px;}
.tit span { padding-left:23px; font-size:14px; color:#000; font-weight:700;}
.tit_hover { width:155px;}
.tit_hover li { width:100%; line-height:28px; background:url(../img/icon_left.gif) 21px center no-repeat;}
.tit_hover li a { padding-left:34px; width:121px; height:28px; display:block; text-decoration:none; color:#6f6f6f; font-size:14px;}
.tit_hover li:hover { background:url(../img/icon_left.gif) 21px center no-repeat;}
.tit_hover li a:hover { background:#c21902; color:#FFF;}

/* 用户中心右侧 */
.rightContainer { float:right; width:1015px;}
.rc_title { height:32px; line-height:32px; font-size:18px; font-weight:normal; paddding-top:10px;}
.rc_title a { float:right; font-size:14px; margin-right:5px;}
.rc_body { border:1px solid #dedede; background-color:#ffffff; border-top:2px solid #F20606; padding:10px;}
.userCommTab { height:31px; width:995px; margin:0 auto; border-bottom:1px solid #dedede; overflow:visible;}
.userCommTab a { float:left; line-height:30px; width:110px; height:30px; text-align:center; border:1px solid #dedede; background-color:#f0f0f0; margin-right:-1px; cursor:pointer; display:block;}
.uctSelected { float:left; line-height:29px !important; width:110px; height:29px !important; text-align:center; border:1px solid #dedede; background-color:#ffffff !important; margin-right:-1px; border-top:2px solid #FC2407 !important;border-bottom:1px solid #ffffff !important; display:block;}
.userCommContentBox { padding-top:20px;}
.userCommContentBox p { height:34px; line-height:34px; font-size:14px}
.uccb_intro { padding:15px; background-color:#FFF4E8;}
.uccb_content { margin:20px 0;}
.uccb_content table { width:100%; text-align:left; text-indent:15px; border:1px solid #dedede; border-bottom:none}
.uccb_content table th { padding:6px 0; background-color:#f0f0f0;}
.uccb_content table td { padding:6px 0; border-bottom:1px solid #f0f0f0;}

a.btnStyle_1:link { display:block; float:left; margin:4px; background-color:#c21902; padding:5px 25px 3px 25px; text-align:center; vertical-align:top; color:#ffffff; font-weight:bold; font-size:14px; text-decoration:none; border:1px solid #e04c4c; text-indent:0 !important;}
a.btnStyle_1:visited { display:block; float:left; margin:4px; background-color:#c21902; padding:5px 25px 3px 25px; text-align:center; vertical-align:top; color:#ffffff; font-weight:bold; font-size:14px; text-decoration:none; border:1px solid #e04c4c; text-indent:0 !important;}
a.btnStyle_1:hover { display:block; float:left; margin:4px; background-color:#E04C4C; padding:5px 25px 3px 25px; text-align:center; vertical-align:top; color:#ffffff; font-weight:bold; font-size:14px; text-decoration:none; border:1px solid #e04c4c; text-indent:0 !important;}

/* 用户中心列表 */
.userCommTable { width:100%;}
.userCommTable th { font-size:14px; font-weight:bold; text-align:left; height:36px; line-height:36px; background-color:#f5f5f5;border-top:1px solid #e8e8e8; padding-left:10px; border-bottom:1px solid #e8e8e8;}
.userCommTable td { padding-left:10px; border-bottom:1px solid #e8e8e8; height:35px; line-height:35px;}

/* Ajax分页条 */
.pager { height:30px;}
.pager span { display:block; float:left; padding:3px 9px;  border:1px solid #ffffff; margin-right:4px;}
.currPageColor{background-color:#c21902 !important; color:#ffffff; font-weight:bold; }
.pager a { display:block; float:left; padding:3px 9px; border:1px solid #e8e8e8; background-color:#f0f0f0; margin-right:4px;}

/* 消息提示列表 */
.userMsgBox {border:1px solid #dedede; background-color:#ffffff; height:100px; width:993px; padding:10px;position:absolute;z-index:117;display:none; left:-306px;}

/* 底部修改1 */
.btomCopyRight { width:100%; height:120px; border-top:1px solid #e8e8e8; clear:both; margin-top:20px; background-color:#ffffff;}
.btomInside { width:1190px; margin:0 auto; height:inherit; overflow:hidden;}
.btomTel { float:left; padding-top:20px;}
.btomTel p span { font-size:14px; color:#787878; font-weight:bold;}
.btomQQ { float:left; padding-top:20px; padding-left:50px;}
.btomQQ a { margin:0 5px;}
.btomCopyright { float:right;padding-top:20px; color:#787878; line-height:25px;}
.qrcode { float:right; padding-top:20px; padding-right:10px;}

.mainbody { width:1190px; margin:0 auto;}

/* 帐号绑定 */
.urpPhoto { font-size:14px; padding-top:40px;}
.urpPhoto div { line-height:30px;}
.urpBound { width:700px; margin:0 auto; padding:35px 0;}
.urpMethod1 { font-size:16px;  border-bottom:1px solid #f0f0f0; height:30px; line-height:30px;}
.urpUl { width :400px; padding:20px 0;}
.urpUl li { height:45px; line-height:45px;}
.urpInput { height:27px; line-height:27px; border:1px solid #cccccc; width:200px;}
.urpMesg { height:50px;}

#geren_renzheng { width:106px; height:82px; background:url(../img/renzheng.png) no-repeat left top; display:block;}
#dianpu_renzheng { width:106px; height:82px; background:url(../img/renzheng.png) no-repeat left -77px; display:block;}
#qiye_renzheng { width:106px; height:82px; background:url(../img/renzheng.png) no-repeat left -153px; display:block;}

a.woyouhuoyuan:link { display:block; height:40px; width:129px; background:url(../img/woyouhuoyuan_01.png) no-repeat; margin-top:5px; margin-left:auto; margin-right:auto;}
a.woyouhuoyuan:visited { display:block; height:40px; width:129px; background:url(../img/woyouhuoyuan_01.png) no-repeat; margin-top:5px; margin-left:auto; margin-right:auto;}
a.woyouhuoyuan:hover { display:block; height:40px; width:129px; background:url(../img/woyouhuoyuan_02.png) no-repeat; margin-top:5px; margin-left:auto; margin-right:auto;}

/* 商家档案 */
.shop_info_body { width:1190px; background:url(../img/dangan/bg.jpg); margin:20px auto; padding-top:1px; padding-bottom:1px;}
.shop_info_inner { margin:10px; border:1px solid #BBD4E0; background-color:#ffffff;}
.head_info { height:42px; background:url(../img/dangan/head_bg.jpg); line-height:40px; font-size:16px; font-weight:bold; text-indent:14px;}
.head_body { width:1142px; margin:10px auto 30px auto;}
.body_title { height:34px; background:url(../img/dangan/body_head_bg.jpg); line-height:34px; text-indent:35px; background-color:#ffffff; font-size:14px;}
.body_info { border:1px solid #E1E1E1; padding:20px; position:relative;}
.body_info h3 { height:63px; line-height:63px; font-size:20px; font-weight:normal;}
.body_info h3 img { margin-bottom:-13px; margin-left:20px;}
.body_info p { color:#787878; line-height:20px; background:url(../img/dangan/dot_line_01.jpg) repeat-x left bottom; padding-bottom:30px;}
.body_div { padding-top:20px; line-height:22px; color:#454545;}
.body_table { width:100%;}
.body_table td { background:url(../img/dangan/dot_line_01.jpg) repeat-x left bottom; height:40px; line-height:40px;}
.body_info ul { height:175px; background-color:#F4F4F4; margin-top:40px;}
.body_info ul li { float:left; margin:10px;}
.zhenshi_renzheng { height:125px; width:125px; position:absolute; z-indenx:11; background:url(../img/dangan/zhenshi.png) no-repeat; right:20px;}
.shidi_renzheng { height:125px; width:125px; position:absolute; z-indenx:11; background:url(../img/dangan/shidi.png) no-repeat; right:20px;}
.span_renzheng { display:block; height:43px; width:48px; margin-right:5px; float:left; margin-left:5px; margin-top:10px;}
.qiye { background:url(../img/dangan/renzheng.jpg) no-repeat left top;}
.shidi { background:url(../img/dangan/renzheng.jpg) no-repeat -60px top;}
.baozhang { background:url(../img/dangan/renzheng.jpg) no-repeat right top;}
.rzspan { height:65px; width:65px; display:block; float:left; margin-right:10px;}
.shiming { background:url(../img/dangan/renzheng_01.jpg) no-repeat left top;}
.geren { background:url(../img/dangan/renzheng_01.jpg) no-repeat right top;}

/* 商品评论 */
.pinglun_goods { width:950px; margin:20px auto; clear:both;}
.pinglun_goods p { display:block; width:950px;}
.pinglun_goods p span { display:block; float:left; line-height:30px;}
.pg_body { clear:both;}
.pg_body .pg_img { width:20%; float:left; height:60px; padding:10px 0; line-height:60px; border-bottom:1px solid #dedede; text-align:center;}
.pg_body .pg_name { width:20%; float:left; height:60px; padding:10px 0; line-height:60px; border-bottom:1px solid #dedede; text-align:center;}
.pg_body .pg_price { width:20%; float:left; height:60px; padding:10px 0; line-height:60px; border-bottom:1px solid #dedede; text-align:center;}
.pg_body .pg_count { width:20%; float:left; height:60px; padding:10px 0; line-height:60px; border-bottom:1px solid #dedede; text-align:center;}
.pg_body .pg_status { width:20%; float:left; height:60px; padding:10px 0; line-height:60px; border-bottom:1px solid #dedede; text-align:center;}

.pg_title { font-weight:bold;}
.pg_title .pg_img { width:20%; float:left; height:10px; padding:10px 0; line-height:10px; background:#fafafa; border-bottom:1px solid #dedede; text-align:center;}
.pg_title .pg_name { width:20%; float:left; height:10px; padding:10px 0; line-height:10px; background:#fafafa; border-bottom:1px solid #dedede; text-align:center;}
.pg_title .pg_price { width:20%; float:left; height:10px; padding:10px 0; line-height:10px; background:#fafafa; border-bottom:1px solid #dedede; text-align:center;}
.pg_title .pg_count { width:20%; float:left; height:10px; padding:10px 0; line-height:10px; background:#fafafa; border-bottom:1px solid #dedede; text-align:center;}
.pg_title .pg_status { width:20%; float:left; height:10px; padding:10px 0; line-height:10px; background:#fafafa; border-bottom:1px solid #dedede; text-align:center;}


