@charset "utf-8";
/* CSS Document */
/*修改*/
#xiugaibg{position:absolute;background:#000;opacity:0.3;filter:alpha(opacity=30);}
.xiugai{border:7px solid #666;width:700px;background:#fff;position:absolute;font-size:12px;}
.xiugaitop{border-bottom:1px solid #E5E5E5;height:40px;line-height:40px;background:#F3F3F3;}
.xiugaitop a:hover{color:#e81268;}
.xiugaimain table{width:680px;}
.xiugaith{height:30px;line-height:30px;border-bottom:2px solid #868686;}
.xiugaimain table td{text-align:center;line-height:20px;font-family:"微软雅黑";}
.xiugaila a{display:inline-block;width:20px;height:20px;border:1px solid #ccc;color:#666;}
.xiugaila a:hover{border:1px solid #666;}
.xiugaitext{width:70px;height:20px;border:1px solid #ccc;border-left:0;border-right:0;}
.xingiujian{margin-left:68px;}
/*修改box*/
.xiugaili li{border-bottom:1px dotted #ccc;font-weight:normal;font-size:12px;font-family:"微软雅黑";}
.xiugaipt p{margin-top:35px;}
.tablebottom{height:40px;}
.tablebottom input{width:80px;height:30px;border:0;background:#e81268;color:white;}
.tablebottom input:hover{background:#ff3c9d;}
.tablebottom a:hover{color:#e81268;}
.xiugaimain tr{margin-bottom:10px;border-bottom:1px solid #ccc;}
.xiugaili{border:1px solid #ccc;}




