@charset "utf-8";
/* CSS Document */

/*   == 网店装修 ==   */
/*   顶部大Banner     */
.topBigBanner{ width:100%; height:400px; background:url(../img/pic_banner.jpg) repeat-x center center}
.tbb_insideBlock { width:1190px; margin:0 auto; height:400px;}

/*   商品筛选条    */
.sreeningBar { width:1190px; background-color:#E6E6E5; margin:0 auto; padding:10px 0;}
.mt15{ margin-top:15px;}
.sb_left { border:1px solid #C6C6C6; width:1115px; margin:0 auto; padding:10px 10px;}
.sb_left a { color:#333333; padding:10px !important;}
.sb_left p { padding:8px;}
.sreeningBar h4 { padding-top:6px; padding-bottom:4px;}
.sb_middle { width:25%; height:130px; float:left; padding-left:10px; padding-top:10px; background:url(../img/sb_sepline.gif) no-repeat right center; margin-left:40px;}
.sb_right { width:25%; height:130px; float:left; padding-left:10px; padding-top:10px; background:url(../img/sb_sepline.gif) no-repeat right center; margin-left:40px;}
.sreeningBar li { float:left; height:20px; line-height:20px; border:1px solid #e0e0e0; width:75px; background-color:#ffffff; margin-right:8px; margin-bottom:8px; text-indent:4px;}
.sreeningBar a { color:#626262; font-size:12px;}
.sreeningBar a:hover { color:#e6005c; font-size:12px;}

/*   色系和下方列表    */
.sreeningBar .heise1  a,.hongse2 a,.langse3 a,.huanse4 a,.qinse5 a,.lvse6 a,.baise7 a,.huise8 a,.zese9 a,.pifen10 a{ width:30px; height:20px; background:#000; display:inline-block; }
.sreeningBar .hongse2 a{ background:#C00;}
.sreeningBar .langse3 a{ background:#3a51db}
.sreeningBar .huanse4 a{background:#ffb400}
.sreeningBar .qinse5 a{background:#00ccff}
.sreeningBar .lvse6 a{ background:#1a990e}
.sreeningBar .baise7 a{background:#fff}
.sreeningBar .huise8 a{ background:#9a9a9a;}
.sreeningBar .zese9 a{ background:#cc00ff;}
.sreeningBar .pifen10 a{ background:#ffa9e8}
.zhuanxiumidnr { width:1190px;  margin:0 auto; clear:both; height:auto; overflow:hidden; background-color:#E6E6E5;}

/*   当前位置     */
.curPos { height:40px; font-size:12px}
.curPos li { float:left; height:40px; line-height:40px;}
.curPos li a { color:#565656; font-size:12px;}
.curPos li a:hover { color:#e6005c; font-size:12px;}
.curPos li span { margin-left:3px; margin-right:3px;}
a.curLink:link { color:#999999;}
a.curLink:visited { color:#e6005c;}
a.curLink:hover { color:#e6005c;}

/*   详情页主体     */
.pageMain { height:516px; font-size:12px; color:#666666;}
.pageLeftBox { width:197px; float:left; border:1px solid #efefef; height:514px; background-color:#fbfbfb;}
.pageRightBox { width:990px; float:left; border:1px solid #efefef;background-color:#ffffff; margin-left:-1px; min-height:514px;}
.plbInside { width:180px; margin:0 auto; height:300px;}
.plbImg{ margin-bottom:20px;}
.plbInfo { height:20px; width:180px; padding-top:5px; padding-bottom:5px;}
.plbInfoKey { float:left;}
.plbInfoValue { float:left;}
.plbInfoValue img { margin-top:-4px; margin-right:2px;}
.marked { background-color:#ffffff; border:1px solid #efefef; width:90px; height:28px; text-indent:30px; background:url(../img/icon_2.gif) no-repeat 10px center #ffffff; line-height:30px;}
.marked a { color:#565656; font-size:12px;}
.marked a:hover { color:#e6005c; font-size:12px;}
.prbImg { width:400px; height:400px; float:left; text-align:center;}
.prbImg span { width:100%; display:inline-block; vertical-align:middle;}
.prbImg img { max-width:400px; max-height:400px; vertical-align:middle;}
.prbTxt { width:520px; height:400px; float:left;}
.prbInfo { width:520px; clear:both; padding-top:25px; padding-bottom:15px; height:10px;}
.prbInfo .prbKey { float:left;}
.prbInfo .prbValue { float:left}
.prbTxt h3 { font-size:18px; color:#000000; border-bottom:1px solid #f3f3f3; width:520px; height:40px; line-height:40px;}
a.goBuyButton:link { height:47px; width:137px; background-color:#e6015c; display:block; font-size:16px; color:#ffffff; font-family:"微软雅黑"; font-weight:bold; line-height:47px; text-align:center; border-bottom:1px solid #c4004c; border-right:1px solid #c4004c;}
a.goBuyButton:visited { height:47px; width:137px; background-color:#e6015c; display:block; font-size:16px; color:#ffffff; font-family:"微软雅黑"; font-weight:bold; line-height:47px; text-align:center; border-bottom:1px solid #c4004c; border-right:1px solid #c4004c;}
a.goBuyButton:hover { height:47px; width:137px; background-color:#f80164; display:block; font-size:16px; color:#ffffff; font-family:"微软雅黑"; font-weight:bold; line-height:47px; text-align:center; border-bottom:1px solid #c4004c; border-right:1px solid #c4004c;}
a.goAddMark:link { height:47px; width:137px; background-color:#fee4cf; display:block; font-size:16px; color:#e6015c; font-family:"微软雅黑"; font-weight:bold; line-height:47px; text-align:center; border-bottom:1px solid #f4d4ba; border-right:1px solid #f4d4ba; margin-left:20px;}
a.goAddMark:visited { height:47px; width:137px; background-color:#fee4cf; display:block; font-size:16px; color:#e6015c; font-family:"微软雅黑"; font-weight:bold; line-height:47px; text-align:center; border-bottom:1px solid #f4d4ba; border-right:1px solid #f4d4ba; margin-left:20px;}
a.goAddMark:hover { height:47px; width:137px; background-color:#ffebdb; display:block; font-size:16px; color:#e6015c; font-family:"微软雅黑"; font-weight:bold; line-height:47px; text-align:center; border-bottom:1px solid #f4d4ba; border-right:1px solid #f4d4ba; margin-left:20px;}
.bton { height:60px;}
.bton .prbValue { line-height:50px; text-indent:20px;}
.prbPrice { font-family:"微软雅黑"; font-size:20px; color:#e81268; display:block; margin-top:-9px;}
.numPlus { background-color:#efefef; width:17px; border:1px solid #e0e0e0; float:left; text-align:center; font-weight:bold; font-size:10px; color:#666666; line-height:13px; cursor:pointer; margin-right:-1px; height:18px; background:url(../img/numplus.gif) no-repeat center center #efefef;}
.numAdd { background-color:#efefef; width:17px; border:1px solid #e0e0e0; float:left; text-align:center; font-weight:bold; font-size:10px; color:#666666; line-height:13px; cursor:pointer; margin-right:-1px; height:18px; background:url(../img/numadd.gif) no-repeat center center #efefef;}
.numPlus img { vertical-align:middle}
.numInput{ float:left}
.numInput input { height:18px; width:33px; border:1px solid #e0e0e0;margin-right:-1px; text-align:center; font-size:14px;}
.InputBox { margin-top:-4px; line-height:20px;}

/*   详情页-左侧信息和右侧商品详情   */
.goodsInfoBox { padding-top:15px;}
.gibLeft { width:220px; float:left;}
.gibRight { width:990px; float:right;}
.gibNavBar { height:30px; background-color:#fbfbfb; border:1px solid #e8e8e8; width:990px; float:right; position:relative;}
.gibNavInside { position:absolute; z-index:11; height:30px; width:350px; left:-1px; top:-1px;}
.gibNavInside a:link { height:30px; display:block; border:1px solid #e8e8e8; width:110px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-right:-1px; float:left;}
.gibNavInside a:visited { height:30px; display:block; border:1px solid #e8e8e8; width:110px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-right:-1px; float:left;}
.gibNavInside a:hover { height:30px; display:block; border:1px solid #e8e8e8; width:110px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-right:-1px; float:left;}
a.gibCur:link { height:29px; display:block; border-top:2px solid #e6015c;  width:110px; font-weight:bold; text-align:center; line-height:30px; color:#e6015c; background-color:#ffffff; margin-right:-1px; float:left; border-bottom:1px solid #ffffff;}
a.gibCur:visited { height:29px; display:block; border-top:2px solid #e6015c; width:110px; font-weight:bold; text-align:center; line-height:30px; color:#e6015c; background-color:#ffffff; margin-right:-1px; float:left; border-bottom:1px solid #ffffff;}
a.gibCur:hover { height:29px; display:block; border-top:2px solid #e6015c; width:110px; font-weight:bold; text-align:center; line-height:30px; color:#e6015c; background-color:#ffffff; margin-right:-1px; float:left; border-bottom:1px solid #ffffff;}
.gibChuHuo { border:1px solid #e8e8e8; height:510px; position:relative; overflow:hidden;}
.gibCHInside { position:absolute; z-index:13; height:30px; width:218px; left:-1px; top:-1px; background-color:#fbfbfb; border:1px solid #e8e8e8;}
.addMarkGoods { background-color:#ffffff; width:90px; height:28px; text-indent:30px; background:url(../img/icon_2.gif) no-repeat 10px center #ffffff; line-height:30px;}
.gibCHInside a:link { height:30px; display:block; border-left:1px solid #e8e8e8; width:80px; width:80px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-left:-1px; float:left;}
.gibCHInside a:visited { height:30px; display:block; border-left:1px solid #e8e8e8; width:80px; width:80px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-left:-1px; float:left;}
.gibCHInside a:hover { height:30px; display:block; border-left:1px solid #e8e8e8; width:80px; width:80px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-left:-1px; float:left;}
a.gibCHCur:link { height:30px; display:block; border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8; border-bottom:1px solid #ffffff; width:80px; width:80px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-left:-1px; float:left; background-color:#ffffff;}
a.gibCHCur:visited { height:30px; display:block; border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8; border-bottom:1px solid #ffffff; width:80px; width:80px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-left:-1px; float:left; background-color:#ffffff;}
a.gibCHCur:hover { height:30px; display:block; border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8; border-bottom:1px solid #ffffff; width:80px; width:80px; font-weight:bold; text-align:center; line-height:30px; color:#565656; margin-left:-1px; float:left; background-color:#ffffff;}
.gibChuHuo dl{ border-bottom:1px solid #f0f0f0; width:200px; margin:0 auto; height:85px; font-size:12px; padding-top:10px;}
.gibChuHuo dt { float:left; height:73px; width:73px; border:1px solid #f5f5f5;}
.gibChuHuo dd { float:left; text-align:left; text-indent:13px; padding-bottom:7px; color:#626262;}
a { color:#626262;}
a:hover { color:#e6005c;}
.gibHotSale { border:1px solid #e8e8e8; height:1000px; position:relative; overflow:hidden;}
.gibHotSale div { height:30px; width:218px; background-color:#fbfbfb; border-bottom:1px solid #e8e8e8; line-height:30px; font-weight:bold; color:#565656; text-indent:15px;}
.gibHotSale dl { border-bottom:1px solid #f0f0f0; width:200px; margin:0 auto; height:215px; font-size:12px; padding-top:20px;}
.gibHotSale dt { height:158px; width:158px; border:1px solid #f5f5f5; margin:0 auto; margin-bottom:7px;}
.gibHotSale dd { width:158px; margin:0 auto; height:20px; line-height:20px;}

/*   装修商家主页    */
.shangJiaTag{ height:35px; width:1190px; margin:0 auto; font-size:12px; color:#454545;}
.zhuangXiuNav {  height:83px; width:100%; background-color:#f6f6f6; border-top:1px solid #eaeaea;}
.shangJiaTag div { float:left; padding-top:18px}
.shangJiaTag .sjTagValue { padding-right:15px;}
.sjTagImg { margin-left:-8px; margin-right:15px;}
.sjTagImg img { margin-top:-3px; margin-right:2px;}
.zxnInside { width:1190px; height:83px; margin:0 auto;}
.zxnInside div img { margin-top:18px;}
.zxnInside div { height:83px; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; float:left; line-height:83px; text-align:center; margin-right:-1px; overflow:hidden; padding-left:40px; padding-right:40px;}
.zxnInside div:hover { background-color:#fafafa;}
.zxnInside a{ font-weight:bold; font-size:14px; color:#454545;}
.zxnInside a:hover{ font-weight:bold; font-size:14px; color:#e6005c;}
.zhuangXiuBanner { height:424px; width:100%; background:url(../img/zhuangXiu_banner.jpg) repeat center center;}
.jiaZhiGuan { width:100%; height:380px; background-color:#f6f6f6;}
.jzgInside { width:1190px; margin:0px auto;}
.txtTitle { text-align:center; font-family:"微软雅黑"; padding-top:40px; padding-bottom:50px;}
.txtTitle h3 { font-size:20px;}
.txtTitle p { color:#787878; height:30px; line-height:30px;}
.imgIntro { width:1100px; margin:0 auto;}
.imgIntro div { width:25%; height:230px; float:left; text-align:center; font-family:"微软雅黑"; color:#787878;}
.imgIntro h3 { padding-top:13px; padding-bottom:13px;}
.ourCase { width:100%; height:600px; }
.caseBox {  width:1190px; position:relative;}
.caseInfo{ width:260px; height:260px; float:left; position:relative; border:1px solid #ffffff; overflow:hidden; margin-right:35px;margin-top: 20px;}
.caseImg { height:300px; width:260px; overflow:hidden;}
.caseInfo .caseTxtBar, .caseTxtBarBg{ display:none;}
.caseTxtBar { height:40px; width:260px; position:absolute; bottom:0; z-index:39; font-weight:bold; text-align:center; color:#ffffff; line-height:40px;}
.caseTxtBarBg { height:40px; background-color:#000000; width:260px; position:absolute; bottom:0; filter:alpha(opacity:80);opacity:0.8; z-index:37;}
.caseInfo:hover{ border:1px solid #ff0000;}
.caseInfo:hover .caseTxtBar{ display:block;}
.caseInfo:hover .caseTxtBarBg{ display:block;}
.ourAdvant {margin-top: 20px;} 

.zhuanxiumidnr ul { padding:15px 0 10px 26px;}
.zhuanxiumidnr li{ width:214px; height:325px; border:1px solid #dedede; float:left; background-color:#ffffff; margin:0 14px 14px 0;}
.zhuanxiumidnr li:hover{ width:214px; height:325px; border:1px solid #f86666; float:left; margin:0 14px 14px 0;}
/*#searchCondition span a { display:block; float:left; color:#454545; padding:3px 5px; margin:0 !important;}*/

.gerenkonjinkka{ width:100%; background:#ffffff; height:220px; text-align:center;}
.gerenimgkkka{ height:220px; vertical-align:middle; text-align:center;}
.gerenkonInfo { margin:0 auto; padding:10px;}

.pageRightBox .sbjieshao { width:940px !important; border:0; border:none;}

/*  摄影服务页面修改_1  */
.visionBox{ width:100%; height:100%;  background:url('/img/photograph/vision_bg.gif') repeat-y center top !important;}
.visionBgBox { width:100%; height:auto; text-align:center;}
.visionBg_1 { width:1190px; height:223px; background:url(../img/photograph/vision_1.jpg) no-repeat center top; margin:0 auto;}
.visionBg_2 { width:1190px; height:250px; background:url(../img/photograph/vision_2.jpg) no-repeat center top; margin:0 auto;}
.visionBg_3 { width:1280px; height:177px; background:url(../img/photograph/vision_3.png) no-repeat center top; margin:0 auto;}
.visionBg_4 { width:1190px; height:259px; background:url(../img/photograph/vision_4.jpg) no-repeat center top; margin:0 auto;}
.visionBg_5 { width:1190px; height:268px; background:url(../img/photograph/vision_5.jpg) no-repeat center top; margin:0 auto;}
.visionBg_6 { width:1280px; height:177px; background:url(../img/photograph/vision_6.png) no-repeat center top; margin:0 auto;}
.visionBg_7 { width:1190px; height:263px; background:url(../img/photograph/vision_7.jpg) no-repeat center top; margin:0 auto;}
.visionBg_8 { width:1190px; height:265px; background:url(../img/photograph/vision_8.jpg) no-repeat center top; margin:0 auto;}
.visionBg_9 { width:1280px; height:177px; background:url(../img/photograph/vision_9.png) no-repeat center top; margin:0 auto;}
.visionBg_10 { width:1190px; height:268px; background:url(../img/photograph/vision_10.jpg) no-repeat center top; margin:0 auto;}
.visionBg_11 { width:1190px; height:258px; background:url(../img/photograph/vision_11.jpg) no-repeat center top; margin:0 auto;}
.visionBg_12 { width:1280px; height:177px; background:url(../img/photograph/vision_12.png) no-repeat center top; margin:0 auto;}

/*  网店装修页面修改_1  */
.zhuangXiuBox { width:100%; height:100%;  background:url('/img/photograph/zhuangxiu_bg.gif') repeat-y center top !important;}
.zhuangXiuBgBox { width:100%; height:auto; text-align:center;}
.zhuangXiuBgBox table { margin:0 auto;}
.zhuangxiu_1 { width:1190px; height:257px; background:url(../img/photograph/zhangxiu_1.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_2 { width:1190px; height:292px; background:url(../img/photograph/zhangxiu_2.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_3 { width:1190px; height:309px; background:url(../img/photograph/zhangxiu_3.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_4 { width:1190px; height:297px; background:url(../img/photograph/zhangxiu_4.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_5 { width:1190px; height:245px; background:url(../img/photograph/zhangxiu_5.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_6 { width:1190px; height:143px; background:url(../img/photograph/zhangxiu_16.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_7 { width:1190px; height:152px; background:url(../img/photograph/zhangxiu_22.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_8 { width:1190px; height:206px; background:url(../img/photograph/zhangxiu_23.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_9 { width:1190px; height:267px; background:url(../img/photograph/zhangxiu_24.jpg) no-repeat center top; margin:0 auto;}
.zhuangxiu_10 { width:1190px; height:290px; background:url(../img/photograph/zhangxiu_25.png) no-repeat center top; margin:0 auto;}
