@charset "utf-8";
/* CSS Document */
.chongzhititle{width:1000px;border-bottom:2px solid #00808c;}
.chongzhititle h4{width:150px;height:30px;line-height:30px;text-align:center;border:1px solid #e4eced;font-size:14px;color:#333333;}
.positingsec{color:#397bdb;margin-right:5px;}
.positingsec:hover{color:#0033ff;}
.gt{margin-right:5px;}
/*收藏的商品*/
.quanbu{height:30px;line-height:30px;background:#f9fcfe;font-size:12px;color:#333;border:1px solid #dddddd;}
.shoucang{font-size:12px;}
.quanbu h4{width:100px;text-align:center;border-bottom:2px solid #e81268;border-right:1px solid #dddddd;}
.quanbu span{display:inline-block;color:white;width:25px;height:15px;line-height:15px;border-radius:10px;background:#e81268;margin-left:5px;}
.caozuo{height:40px;line-height:40px;padding-left:20px;}
.icons{display:inline-block;width:20px;height:23px;background:url(../img/delet.png) 0 0 no-repeat scroll;vertical-align:-5px;}
.caozuospan{margin-left:10px;}
.caozuo input,.icons{margin-top:3px;}
.caozuospan a{color:#2988DE;}
.caozuospan a:hover{color:#e81268;}
.scshangpin{border-bottom:1px solid #eeeeee;}
.scshangpin img{width:160px;height:160px;}
.scshangpinbox{border:1px solid #eeeeee;width:160px;height:160px;margin-bottom:5px;}
.scshangpin p{height:30px;line-height:30px;margin-left:5px;}
.icon1,.icon2,.icon3{display:inline-block;width:20px;height:19px;background:url(../img/icons.png) no-repeat scroll;cursor:pointer;}
.icon1:hover,.icon2:hover,.icon3:hover{background:url(../img/iconshover.png);}
.icon2,.icon2:hover{background-position:0 -20px;}
.icon3,.icon3:hover{background-position:0 -40px;}
.shoucangprice{font-family:"黑体";color:#e81268;}
.scshangpin li a{color:#666;}
.scshangpin li a:hover{color:#e81268;}
.scshangpin li{float:left;width:180px;margin-left:19px;margin-bottom:10px;}
.tuijian{border:1px solid #ccc;}
.tuijian{width:1000px;}
.huijianh{height:30px;line-height:30px;font-size:12px;width:100px;text-align:center;color:#333;border-bottom:2px solid #e81268;border-right:1px solid #d9d9d9;}
.tuijiantbox{background:#f9fcfe;border:1px solid #d9d9d9;}
.tuijianulbox{width:900px;margin:0 auto;margin-top:20px;font-size:12px;overflow:hidden;padding-bottom:10px;}
.tuijianimg{border:1px solid #dadada;}
.tuijianimg img{width:178px;height:178px;}
.tuijianul li{width:180px;position:relative;float:left;margin-left:30px;margin-right:10px;}
.mashubox{position:absolute;top:155px;left:130px;}
.mashubg{width:50px;height:25px;background:white;opacity:0.3;filter:alpha(opacity=30);}
.mashu{width:50px;height:25px;line-height:25px;text-align:center;margin-top:-25px;color:black;}
.tuijianprice{font-family:"微软雅黑";font-size:12px;line-height:30px;font-weight:bold;color:#ff5200;}
.tuijianmiaoshu a{color:#333;}
.tuijianmiaoshu a:hover{color:#e81268;}
.tuijianmiaoshu{margin-bottom:10px;}
.gongsiname a{color:#666;}
.gongsiname a:hover{color:#e81268;}
.gongsiname span{color:#999;}
.tubiao1,.tubiao2,.tubiao3{float:left;}
.qipi{float:right;color:#999;}
.tuijianfooter{margin-top:10px;}
.tuijianbox0{width:1000%;}
.lunfooter li{float:left;width:10px;height:10px;border-radius:10px;background:#dbdbdb;}
/*收藏店铺*/
.shouchangdian{font-size:12px;border:1px solid #d9e2e7;border-top:2px solid #f86666;}
.shouciantitle{border-bottom:1px solid #d9e2e7;background:#f9fcfe;height:30px;line-height:30px;padding-left:20px;}
.shouciantitle p{width:230px;float:left;}
.li1{height:250px;border-bottom:1px dashed #ccc;margin-bottom:-1px;}
.shoudianleft{width:220px;border-right:1px dashed #ccc;}
.shoudianright{width:750px;}
.shoudianright li{float:left;margin-left:15px;width:130px;}
.shoudianright li img{margin-left:5px;}
.dongtaiimg{width:120px;height:120px;}
.dongtaiimg img{width:120px;height:120px;}
.shoudianleft p{line-height:30px;margin-left:10px;}
.shoudianp1 a{color:#5094DE;display:inline-block;}
.shoudianp1 a:hover{color:#e81268;;}
.xinyuicon{display:inline-block;margin-left:-5px;width:18px;height:16px;background:url(../img/huanguan.jpg) no-repeat 0 0 scroll;}
.blue{color:#5A9DDA;}
.renzhengicon{display:inline-block;width:20px;height:20px;background:url(../img/sel_icon.png);}
#renzhengicon1{background-position:0 0;}
#renzhengicon2{background-position:0 -37px;}
.zixunicon{display:inline-block;width:19px;height:21px;background:url(../img/wanwantu.png) no-repeat scroll;}
.del a{color:#2988DE;font-size: 14px;text-decoration: underline;}
.del a:hover{color:#E60606;}
.share{width:50px;text-align:center;position:relative;cursor:pointer;}
.share div{width:100px;background:white;margin-left:-61px;margin-top:-1px;padding-bottom:10px;border:1px solid #dddddd;}
.share div li{padding-left:16px;height:16px;background:url(../img/shareicon.jpg) no-repeat scroll;margin-bottom:5px;}
.share .la2{background-position:0 -17px;}
.share .la3{background-position:0 -34px;}
.share .la4{background-position:0 -51px;}
.share .la5{background-position:0 -68px;}
.share a{color:#333;}
.share a:hover{color:#e81268}
.shareli{position:absolute;display:none;}
.chakanmore,.xinpintitle{width:100px;text-align:center;height:30px;line-height:30px;color:#333;}
.chakanmore:hover{color:#e81268;}
.dongtaimiao a{color:#0286de;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; width:120px; display:inline-block;}
.dongtaimiao a:hover{color:#e81268;}
.dongtaimiao{line-height:30px;}
.dongtaiimgbot strong,.dongtaiimgbot p{line-height:20px;margin-left:10px;}
.dongtaiimgbot strong{color:#ff5200; font-family:"微软雅黑"; font-size:12px;}




