
 /* 主flash*/
/* .flash_main { width:100%; height:400px; background-color:#f0f0f0;}
 */
 
 .main_visual{height:422px;overflow:hidden;position:relative;}
.main_image{height:422px;overflow:hidden;position:relative;  z-index:3;}
.main_image ul{width:100%;height:422px;overflow:hidden;position:absolute;}
.main_image li{float:left;width:100%;height:422px;}
.main_image li span{display:block;width:100%;height:422px}
.main_image li a{display:block;width:100%;height:422px}
/* .main_image li .img_1{background:url('../img/p_5.jpg') center top no-repeat}
.main_image li .img_2{background:url('../img/p_4.jpg') center top no-repeat} */
.main_image li .img_3{background:url('../img/02.jpg') center top no-repeat}
.main_image li .img_4{background:url('../img/03.jpg') center top no-repeat}
.main_image li .img_5{background:url('../img/p_6.jpg') center top no-repeat}

div.flicking_con{position:absolute;top:360px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../img/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px;}
div.flicking_con a.bian{background:url('../img/btn_main_img1.png') 0 0 no-repeat;}
div.flicking_con a.on{background-position:0 -21px}
 
 
 
/* 专题商品分类导航 */
.cate_goods_nav { height:114px; margin-top:13px; width:100%;}
.cate_goods_nav li { float:left;}
.top_ad_4s { height:150px; margin-top:13px; width:100%;}
.top_ad_4s li { float:left; margin-right:14px;}
/* .inner_inside { width:1665px;} */
   
                                                           
/* 商品展示分类块cate */
.goods_cate_block { width:100%; clear:both; height:auto;}
.goods_block { width:1200px; clear:both; margin:0 auto; overflow:hidden;}
.goods_block .inner_inside { width:1280px;}
.goods_block_title {  height:100px;margin-bottom:10px;  width:1190px; margin:0 auto 5px auto;}
.block_title {height:100px; margin-bottom:10px; color:#ffffff;  width:1190px; font-size:16px; font-weight:bold; line-height:40px; text-indent:37px;}
.block_title a { color:#ffffff !important;}
.xielei_icon { background:url(../img/jingxuanxielei.png) no-repeat 15px 9px #c21902;}
.xiangbao_icon { background:url(../img/fuzhuangxiangbao.png) no-repeat 15px 9px #FE6522;}
.baoyang_icon { background:url(../img/meizhuangbaoyang.png) no-repeat 15px 9px #E9448E;}
.jiushui_icon { background:url(../img/chayejiushui.png) no-repeat 15px 9px #6EB249;}
.nvzhuang { background:url(../img/nvzhuang.png) no-repeat;} 
.nanzhuang { background:url(../img/nanzhuang.png) no-repeat;}
.nantongzhuang { background:url(../img/tongzhuang.png) no-repeat;}
.nvxie { background:url(../img/nvxie.png) no-repeat;}
.nanxie { background:url(../img/nanxie.png) no-repeat;}
.tongxie{ background:url(../img/tongxie.png) no-repeat;}
.cate_block_ul li { float:left; margin-right:10px; margin-bottom:14px; margin-left:4px; margin-top:4px; border:1px solid #e8e8e8; position:relative;}
.cate_block_ul li:hover { float:left; margin-right:10px; margin-bottom:14px; border:1px solid #dcdcdc; margin-left:4px; margin-top:4px; box-shadow:0 0 4px 0 #e8e8e8;position:relative;}
.goods_text_info {height:94px;}
.goods_text_info div { width:263px; margin:0 auto; height:20px;}
.shop_renzheng { display:block; height:14px; width:19px; background:url(../img/renzheng_icon.gif) no-repeat; float:left; margin-right:5px;}
.shiming_renzheng { display:block; height:14px; width:19px; background:url(../img/renzheng_icon.gif) no-repeat right top; float:left;}
.cate_block_ul li:hover .shop_renzheng { background:url(../img/renzheng_icon.gif) no-repeat left -20px;}
.cate_block_ul li:hover .shiming_renzheng { background:url(../img/renzheng_icon.gif) no-repeat right -20px;}
.right_block_body { width:1012px;}
.text_price { padding:4px 10px;}
.text_name a { font-weight:normal; color:#454545;}
.text_name a:hover { color:#c60204;}
.text_down { margin:7px 10px 0 10px; background:url(../img/dot_line_1.gif) repeat-x top left; padding:9px 0; color:#999999; height:10px;}
.text_down a { float:right; background:url(../img/down_icon.gif) no-repeat left center; text-indent:10px; color:#999999;}
.text_down a:hover { color:#333333;}
.goods_image { height:285px; width:285px; position:relative;}
.goods_right_block { width:226px; float:right; padding-top:50px;}
.fenxiang_bg { height:35px; background-color:#000000; position:absolute; width:214px; bottom:0; opacity:0.5; z-index:11; filter:alpha(opacity:50); display:none;}
.fenxiang_box { height:35px; position:absolute; width:214px; z-index:13; bottom:0; display:none;}
.fenxiang_box p { float:left; width:50%; height:35px; line-height:35px; color:#ffffff; cursor:pointer; position:relative;}
.fenxiang_box p:hover { color:#efefef;}
.add_fav { background:url(../img/addFavhert.png) no-repeat 18px center; text-align:center;}
.add_fen { background:url(../img/addfenxiang.png) no-repeat 18px center; text-align:center;}
.cate_block_ul li:hover .fenxiang_bg { display:block;}
.cate_block_ul li:hover .fenxiang_box { display:block;}
.brand_block { width:1188px; height:142px; margin:0 auto 20px auto; border:1px solid #ffffff; background-color:#fafafa; padding-top:2px; overflow:hidden;}
.brand_block li {float:left; margin-right:2px; margin-bottom:2px; background-color:#ffffff; padding:10px 18px;}
.hot_brand { float:left; height:142px; width:164px; font-size:16px; font-weight:bold; line-height:142px; text-align:center;}
.brand_list { width:1150px; float:left;}
.brand_inner { width:1400px;}

/* 买家入门-卖家入门-规则 */
.news_tabs_box { width:224px; height:175px; border:1px solid #e8e8e8; background-color:#f7f7f7;}
.new_tabs_ul { height:33px; background-color:#e8e8e8;}
.new_tabs_ul li { height:33px; line-height:33px; width:70px; text-align:center; float:left; color:#676767; cursor:pointer;}
.news_tabs_selectd { background-color:#fafafa; cursor:pointer; color:#333333 !important;}
.new_tabs_list { padding-top:10px;}
.new_tabs_list li { padding:4px 10px;}
.new_tabs_list li a { color:#666666;}
.new_tabs_list li a:hover { color:#ff4362;}
.icon_box { width:226px; overflow:hidden; margin:13px 0;}
.icon_box li { width:113px; height:46px; line-height:46px; background-color:#FF6C6C; float:left; margin-right:1px; margin-bottom:1px; text-indent:44px;}
.icon_box li:hover { background-color:#ff8787;}
.icon_inside { width:228px;}
.icon_inside a { color:#ffffff;}
.shandian_icon { background:url(../img/shandian_icon.png) no-repeat 15px center;}
.zhiliang_icon { background:url(../img/zhiliang_icon.png) no-repeat 15px center;}
.yijian_icon { background:url(../img/yijian_icon.png) no-repeat 15px center;}
.jingxuan_icon { background:url(../img/jingxuan_icon.png) no-repeat 15px center;}
.tags_box { width:224px; height:135px; border:1px solid #e8e8e8; background-color:#f7f7f7; margin-top:13px;}
.tags_box div { margin:0 auto; color:#787878; padding:15px 0 5px 70px;}
.renzheng_icon { background:url(../img/renzheng_icon.jpg) no-repeat 13px center; height:49px;}
.danbao_icon { background:url(../img/danbao_icon.jpg) no-repeat 13px center; height:49px;}
.add_group_01 { height:234px; width:226px; background-color:#e8e8e8; margin-top:13px;}

/* 热销排行 */
.rexiao_paihang { width:224px; height:479px; border:1px solid #e8e8e8; background-color:#f7f7f7; overflow:hidden;}
.rexiao_paihang h3 { height:35px; line-height:35px; text-indent:10px;}
.rexiao_gen_line { background:url(../img/dot_line_1.gif) repeat-x left bottom; height:38px; line-height:38px; margin:0 auto; width:215px; position:relative;}
.rexiao_gen_line a { color:#898989;}
.rexiao_gen_line a:hover { color:#ff4362;}

.sort_icon_gray { font-style:normal; display:block; float:left; width:15px; height:15px; background-color:#D1D1D1; border:1px solid #C8C8C8; line-height:15px !important; text-align:center; color:#797979; position:absolute; margin-top:12px;}
.rexiao_gen_line .sort_name { float:left; padding:0 0 0 20px;}
.rexiao_gen_line .sort_xiaoliang { float:right; color:#999999;}
.rexiao_gen_line .sort_price { float:left; display:none}
.rexiao_gen_line .sort_image { float:left; display:none}
.rexiao_gen_line .sort_icon_red { margin-top:12px !important;}

.rexiao_selectd_line { background:url(../img/dot_line_1.gif) repeat-x left bottom; height:88px; margin:15px auto 0 auto; width:215px; position:relative;}
.sort_icon_red { font-style:normal; display:block; float:left; width:15px; height:15px; background-color:#FF6C6C; border:1px solid #EC6464; line-height:15px !important; text-align:center; color:#ffffff; position:absolute;}
.rexiao_selectd_line .sort_image { float:left; display:block;}
.rexiao_selectd_line .sort_name { float:left; padding:0 0 10px 10px;}
.rexiao_selectd_line .sort_xiaoliang { float:left; color:#999999; padding:0 0 10px 10px;}
.rexiao_selectd_line .sort_price { float:left; display:block; padding:0 0 10px 10px;}
.rexiao_selectd_line .sort_icon_gray { margin-top:0 !important;}

.add_group_02 { height:187px; width:226px; background-color:#e8e8e8; margin-top:13px;}


/* 引导页主flash样式 */
#full-screen-slider { width:100%; height:400px; float:left; position:relative}
#slides { display:block; width:100%; height:400px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:50%; top:360px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#0092CE}

/* 引导页主flash样式 */
.fenxiang_ul li { float:left; border:none !important; border:0 !important; padding:0 !important; margin-left:6px !important; margin-right:6px !important; margin-bottom:6px !important;}
.fenxiang_ul li:hover { float:left; border:none !important; border:0 !important; background:none !important; margin-left:6px !important; margin-right:6px !important; margin-bottom:6px !important;padding:0 !important;}
.fenxiang_ul span { display:block; height:17px; width:17px;}




/* 分享按钮样式 */
.fenxiang_ul_box { position:absolute; z-index:37; width:100%; height:107px; top:-107px; display:none;}
.fenxiang_ul_box_bg { background-color:#000000; position:absolute; z-index:33; width:100%; height:107px; top:-107px; filter:alpha(opacity:50); opacity:0.5; display:none;}
/*.fenxiang_box:hover .fenxiang_ul_box{ display:block;}
.fenxiang_box:hover .fenxiang_ul_box_bg{ display:block;}*/

.weixin { background:url(../img/shejiaoicon.png) no-repeat left bottom;}
.tengxunweibo { background:url(../img/shejiaoicon.png) no-repeat left -17px;}
.xinlang { background:url(../img/shejiaoicon.png) no-repeat left -34px;}
.wangyi { background:url(../img/shejiaoicon.png) no-repeat left -68px;}
.qqzone { background:url(../img/shejiaoicon.png) no-repeat left -85px;}
.qqpengyou { background:url(../img/shejiaoicon.png) no-repeat left -102px;}
.renren { background:url(../img/shejiaoicon.png) no-repeat left -119px;}
.kaixin { background:url(../img/shejiaoicon.png) no-repeat left -136px;}
.taojianghu { background:url(../img/shejiaoicon.png) no-repeat left -153px;}
.douban { background:url(../img/shejiaoicon.png) no-repeat left -170px;}
.baidusoucang { background:url(../img/shejiaoicon.png) no-repeat left -187px;}

/*  */
a.caigou:link { float:left !important; display:block; border:1px solid #dedede; padding:1px 5px; background:#ffffff !important; text-indent:0 !important; border-radius:3px; margin-top:-2px; margin-right:6px;}
a.caigou:visited { float:left !important; display:block; border:1px solid #dedede; padding:1px 5px; background:#ffffff !important; text-indent:0 !important; border-radius:3px; margin-top:-2px; margin-right:6px;}
a.caigou:hover { float:left !important; display:block; border:1px solid #c21902; padding:1px 5px; background:#c21902 !important; text-indent:0 !important; border-radius:3px; margin-top:-2px; margin-right:6px; color:#ffffff;}

/**/
.cate_blocks { width:100%; clear:both; height:auto; margin-top:20px;}
.cate_blocks_left { float:left; width:467px; overflow:hidden;}
.cate_blocks_right { float:right; width:723px;}
.man_inner { width:500px;}
.woman_inner { width:750px; margin-left:15px;}

.index_banner { margin:10px auto; width:1190px; height:150px; clear:both;}
.tuijian_ico {position:absolute; height:41px; width:38px; background:url(../img/tuijian_ico.png) no-repeat;top:0;right:0;}
.renqi_ico {position:absolute; height:41px; width:38px; background:url(../img/renqi_ico.png) no-repeat;top:0;right:0;}

