<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhigu.mapper.OpenAuthMapper">
	<!-- 查询第三方认证 -->
	<select id="queryOpenAuthByOpenID" parameterType="string" resultType="openAuth">
		Select * From OpenAuth Where OpenID = #{openID};
	</select>
	<!-- 保存第三方认证信息 -->
	<insert id="saveOpenAuth" parameterType="openAuth">
		Insert Into OpenAuth(OpenID,OpenUser,OpenType,UserID) Values(#{openID},#{openUser},#{openType},#{userID});
	</insert>
</mapper>

