<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhigu.mapper.PhoneSendMapper">
	<resultMap id="BaseResultMap" type="com.zhigu.model.PhoneSend">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="captcha" property="captcha" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="expiry_date" property="expiryDate" jdbcType="TIMESTAMP" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, phone, captcha, type, status, add_time, expiry_date, ip
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from phone_send
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from phone_send
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.zhigu.model.PhoneSend">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into phone_send (id, phone, captcha,
		type, status, add_time,
		expiry_date, ip)
		values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{captcha,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP},
		#{expiryDate,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zhigu.model.PhoneSend">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into phone_send
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="phone != null">
				phone,
			</if>
			<if test="captcha != null">
				captcha,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="expiryDate != null">
				expiry_date,
			</if>
			<if test="ip != null">
				ip,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=BIGINT},
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="captcha != null">
				#{captcha,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="expiryDate != null">
				#{expiryDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zhigu.model.PhoneSend">
		update phone_send
		<set>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="captcha != null">
				captcha = #{captcha,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="expiryDate != null">
				expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zhigu.model.PhoneSend">
		update phone_send
		set phone = #{phone,jdbcType=VARCHAR},
		captcha = #{captcha,jdbcType=VARCHAR},
		type = #{type,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		add_time = #{addTime,jdbcType=TIMESTAMP},
		expiry_date = #{expiryDate,jdbcType=TIMESTAMP},
		ip = #{ip,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="countPhoneSend" resultType="int" >
		select count(1)
		from phone_send
		<where>
			<if test="phone != null">
				phone=#{phone,jdbcType=VARCHAR}
			</if>
			<if test="ip != null">
				and ip = #{ip,jdbcType=VARCHAR}
			</if>
			<if test="addStartDate != null">
				and add_time >= #{addStartDate,jdbcType=VARCHAR}
			</if>
		</where>	
	</select>
	<select id="selectByPhoneAndType" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from phone_send
		where phone=#{phone,jdbcType=VARCHAR} and type = #{type,jdbcType=INTEGER}
		order by add_time DESC limit 1
	</select>
</mapper>