<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhigu.mapper.PromotionMapper">
	<insert id="saveCommissionPorportion" parameterType="commissionPorportion">
		insert into CommissionPorportion(InnerEmployeePorportion,BasePorportion,FirstPorportion,SecondPorportion,ThirdPorportion,AddDate,AddUserID)
		values(#{innerEmployeePorportion},#{basePorportion},#{firstPorportion},#{secondPorportion},#{thirdPorportion},Now(),#{addUserID});
	</insert>
	<select id="queryLastCommissionPorportion" resultType="commissionPorportion">
		select * from CommissionPorportion order by AddDate DESC limit 1;
	</select>
	<insert id="addCommissionRecord" parameterType="commissionRecord">
		insert into CommissionRecord(UserID,Level,CommissionPorportionID,OrderID,CommissionMoney,AddDate) 
		values(#{userID},#{level},#{commissionPorportionID},#{orderID},#{commissionMoney},#{addDate});
	</insert>
	<select id="queryCommissionRecordByPage" parameterType="page" resultType="commissionRecord">
		select A.ID,A.Level,A.OrderID,A.OrderNO,A.CommissionMoney,A.AddDate,B.Username,C.InnerEmployeePorportion,C.BasePorportion,C.FirstPorportion,C.SecondPorportion,C.ThirdPorportion
		from CommissionRecord A,UserAuth B,CommissionPorportion C 
		where A.UserID=B.UserID and A.CommissionPorportionID=C.ID
		<if test="paras.orderNO != null  and paras.orderNO != ''">
			and A.OrderNO=#{paras.orderNO}
		</if>
		<if test="paras.userID != null  and paras.userID != ''">
			and B.UserID = #{paras.userID}
		</if>
		order by AddDate DESC
	</select>
</mapper>

