<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhigu.mapper.UserMapper">
	<!-- 手机查询用户认证信息 -->
	<select id="queryUserAuthByPhone" parameterType="java.lang.String" resultType="com.zhigu.model.UserAuth">
		Select * from userauth where Phone = #{phone} limit 1;
	</select>
	<!-- 根据ip查询有几条相同的 -->
	<select id="countUserAuthByIp"  resultType="int">
	SELECT  COUNT(1)  FROM userauth u, userinfo i where u.registerIP=#{ip} and u.UserID=i.UserID AND i.RegisterTime &gt;= #{startTime}
	</select>
	<!-- email查询用户认证信息 -->
	<select id="queryUserAuthByEmail" parameterType="java.lang.String" resultType="userAuth">
		Select * from userauth where Email = #{email} limit 1;
	</select>
	
	<!-- 用户名查询用户认证信息 -->
	<select id="queryUserAuthByUsername" parameterType="java.lang.String" resultType="userAuth">
		Select * from userauth where Username = #{username} limit 1;
	</select>
	
	<!-- 保存认证信息 -->
	<insert id="saveUserAuth" parameterType="userAuth">
		Insert Into UserAuth(Username,Email,Phone,Password,Salt,Status,registerIP) Value(#{username},#{email},#{phone},#{password},#{salt},0,#{registerIP});
		<selectKey resultType="int" keyProperty="userID" order="AFTER" >  
		  SELECT LAST_INSERT_ID()  
		</selectKey>
	</insert>
	<!-- 保存用户基本信息 -->
	<insert id="saveUserInfo" parameterType="userInfo">
		Insert Into UserInfo(userID,nickName,gender,birthDay,avatar,phone,tel,email,QQ,aliWangWang,province,city,district,street,postCode,usernameModify,registerTime,RecommendUserID) 
			Values(#{userID},#{nickName},#{gender},#{birthDay},#{avatar},#{phone},#{tel},#{email},#{QQ},#{aliWangWang},#{province},#{city},#{district},#{street},#{postCode},0,Now(),#{recommendUserID});
	</insert>
	<select id="queryUserAuthByUserID" parameterType="int" resultType="userAuth">
		Select * from UserAuth where UserID = #{userID};
	</select>
	
	<select id="queryUserInfoById" parameterType="int" resultType="userInfo">
		Select * from UserInfo where UserID = #{userID};
	</select>
	
	<!-- 修改电话 -->
	<update id="updateUserAuthPhone" >
		Update UserAuth Set Phone = #{phone} Where UserID = #{userID};
	</update>
	<update id="updateUserInfoPhone" >
		Update UserInfo Set Phone = #{phone} Where UserID = #{userID};
	</update>
	<!-- 修改邮箱 -->
	<update id="updateUserAuthEmail" >
		Update UserAuth Set Email = #{email} Where UserID = #{userID};
	</update>
	<update id="updateUserInfoEmail" >
		Update UserInfo Set email = #{email} Where UserID = #{userID};
	</update>
	
	
	<update id="updateUserInfoRealUserFlg" parameterType="map">
		Update UserInfo Set RealUserAuthFlg = #{realUserFlg} Where UserID = #{userID};
	</update>
	<!-- 修改用户类型 -->
	<update id="updateUserType" parameterType="map">
		Update UserInfo Set UserType = #{userType} Where UserID = #{userID};
	</update>
	<!-- 修改登录密码 -->
	<update id="updateLoginPwd" >
		Update UserAuth Set Password = #{pwd},salt = #{salt} Where UserID = #{userID};
	</update>
	<!-- 修改用户基本信息 -->
	<update id="updateUserInfo" parameterType="userInfo">
		Update UserInfo Set realName = #{realName},gender = #{gender},birthDay = #{birthDay},tel = #{tel},QQ = #{QQ},aliWangWang = #{aliWangWang},province = #{province},city = #{city},district = #{district},street = #{street},postCode = #{postCode} Where UserID = #{userID};
	</update>
	<!-- 修改头像 -->
	<update id="updateAvatar" parameterType="map">
		Update UserInfo Set avatar = #{path} Where UserID = #{userID};
	</update>
	<!-- 修改等级点数 -->
	<update id="updateLevelPoint" parameterType="map">
		Update UserInfo Set LevelPoint=LevelPoint+#{levelPoint} Where UserID = #{userID};
	</update>
	<!-- 修改用户名 -->
	<update id="updateUsername" parameterType="map">
		Update UserAuth A,UserInfo B Set A.Username = #{username},B.UsernameModify = 1 Where A.UserID = B.UserID And A.UserID = #{userID}
	</update>
	<update id="updateUserauthInfoLoginData" parameterType="int">
		Update Userauth Set LoginCount=LoginCount+1,LatestLoginTime=CURRENT_TIMESTAMP() where UserID=#{userID};
	</update>
	
</mapper>

