.denlunra{ width:1190px; background:#fff; height:500px;  margin:20px auto 0 auto; position:relative;}
.denlulogo{margin:20px 0 0px 50px;}
.c4e4f4e{ color:#4e4f4e;}
.c0298de{ color:#0298de}
.kfpos,.kfpos1{ position:absolute; right:200px; font-family:Arial, Helvetica, sans-serif; top:50px;}
.kfpos1{top:80px; right:223px;}
.kfpos1 a:hover{ color:#3F0DEC}
.syqtzh{ width:752px;}
.denluzcnr{ top:50px; position:absolute; left:0px; font-family:Arial, Helvetica, sans-serif; color:4e4f4e; font-size:14px;}
.syqtzh ul li{ margin-top:10px;}
.syqtzh ul{ overflow:hidden}
.txznr{ width:352px; margin-left:40px; }
.txznrdenlu{border:1px solid #c7c7c7; height:40px; padding-left:10px; width:340px; border-bottom:0px; line-height:40px;}
.txznrnr {  border:1px solid #c7c7c7; padding:20px;}
.txznrnr li{ border:1px solid #c2c5bf; line-height:38px; width:310px; overflow:hidden; margin-top:15px;}
.kefufoot li{ float:left; margin-top:10px; margin-right:20px;}

.userbar_1a{margin-top:30px;font-size:12px;}

.userbar_1a a{margin-right:10px;color:#666666;}
.userbar_1a a:hover{color:#999;}
.userbar_1a img{margin-right:5px;width:15px;height:15px;vertical-align:bottom;}
.userbar_1a .yiyou{color:#108ad7;}
.userbar_1a .yiyou:hover{color:#1A3F7D;}

.login_submit1{height:40px; background:#e6005c; color:white; border:0; font-size:14px; font-weight:bold; width:310px; }
.login_submit:hover{background:#ff3c9d; cursor:pointer;}
.denlutext{ border:0px; height:40px; width:260px; color:#999;}
		