@charset "utf-8";
/* CSS Document */

/* 顶部功能条 */
.inner { width:1190px; margin:0 auto; height:auto;}
.top_fun_bar { width:100%; height:35px; background-color:#fafafa; border-bottom:1px solid #f0f0f0; line-height:35px;}
.city_change { float:left;}
.login_register { float:right; width:auto;}
.login_register li { float:left; margin-left:15px;}
.login_register a { color:#3bacb0;}
.login_register a:hover { color:#ff4362;}
.login_register a img { margin-bottom:-1px; margin-right:2px;}
.login_register em { font-style:normal; font-size:10px; color:#cccccc;}
.cc_blue { color:#3bacb0;}

/* bannner&searchbar&shoppingcar */
.banner_searchbar { height:93px; width:100%;}
.logo_box { float:left; height:53px; width:285px; margin-top:20px;}
.searchbar_box { float:left; margin-top:26px; margin-left:330px;}
.search_text { height:40px; width:286px; float:left;}
.search_btn { height:40px; width:109px; float:left;}
.search_text input { height:38px; line-height:38px; border:1px solid #dedede; border-right:none; width:286px; font-size:14px; text-indent:3px;}
.search_btn input { height:40px; width:109px; background:url(../img/search_btn.jpg) no-repeat left top #f86666; border:none; border:0; cursor:pointer;}
.shopping_car { height:38px; line-height:38px; background-color:#C2B8AD; border:1px solid #B2A99E; float:right; width:130px; text-align:center; margin-top:26px;}
.shopping_car li { float:left; color:#ffffff; background:url(../img/shopping_car_icon.gif) no-repeat 15px center; text-indent:35px;}
.shopping_car li a { color:#ffffff;}

/* 主导航条 */
.nav_main_bar { width:100%; height:40px; background-color:#f86666;}
.nav_left_main { float:left; }
.nav_left_main li { float:left; position:relative; height:40px; line-height:40px; text-align:center; width:130px;}
.nav_left_main li a { display:block; color:#ffffff; font-size:14px; font-weight:bold;}
.nav_left_main li a:hover { display:block; background-color:#DD4E4E; font-size:14px; font-weight:bold;}
.nav_main_selected { background-color:#DD4E4E;}
.nav_right_main { float:right;}
.nav_right_main li { float:left; position:relative; height:40px; line-height:40px; text-align:right; width:80px;}
.nav_right_main li a { display:block; color:#ffffff; font-size:14px;}
.nav_right_main li a:hover { display:block; color:#f0f0f0; font-size:14px;}

/* 主flash*/
.flash_main { width:100%; height:400px; background-color:#f0f0f0;}

/* 专题商品分类导航 */
.cate_goods_nav { height:114px; margin-top:13px; width:100%;}
.cate_goods_nav li { float:left;}
.top_ad_4s { height:150px; margin-top:13px; width:100%;}
.top_ad_4s li { float:left; margin-right:14px;}
.inner_inside { width:1204px;}

/* 商品展示分类块cate */
.goods_cate_block { margin-top:20px; width:100%; clear:both; height:auto;}
.goods_left_block { float:left; width:949px;}
.left_block_title { height:40px; margin-bottom:10px;}
.block_title { width:164px; float:left; color:#ffffff; font-size:16px; font-weight:bold; line-height:40px; text-indent:37px;}
.xielei_icon { background:url(../img/jingxuanxielei.png) no-repeat 15px 9px #f86666;}
.xiangbao_icon { background:url(../img/fuzhuangxiangbao.png) no-repeat 15px 9px #FE6522;}
.baoyang_icon { background:url(../img/meizhuangbaoyang.png) no-repeat 15px 9px #E9448E;}
.jiushui_icon { background:url(../img/chayejiushui.png) no-repeat 15px 9px #6EB249;}
.cate_block_ul li { float:left; margin-right:15px; margin-bottom:15px; border:1px solid #e8e8e8; padding:5px;}
.cate_block_ul li:hover { float:left; margin-right:15px; margin-bottom:15px; background-color:#ff4444; border:1px solid #ff4444;}
.goods_text_info { background-color:#f7f7f7; height:107px;}
.right_block_body { width:1012px;}
.text_price { padding:4px 10px;}
.text_name { padding:3px 10px;}
.text_name a { font-weight:normal; color:#454545;}
.text_name a:hover { color:#ff4362;}
.text_down { margin:8px 10px; background:url(../img/dot_line_1.gif) repeat-x top left; padding:10px 0; color:#999999;}
.text_down a { float:right; background:url(../img/down_icon.gif) no-repeat left center; text-indent:10px; color:#999999;}
.text_down a:hover { color:#ff4362;}
.goods_image { height:214px; width:214px; position:relative;}
.goods_right_block { width:226px; float:right; padding-top:50px;}
.fenxiang_bg { height:35px; background-color:#000000; position:absolute; width:214px; bottom:0; opacity:0.5; z-index:11; filter:alpha(opacity:50); display:none;}
.fenxiang_box { height:35px; position:absolute; width:214px; z-index:13; bottom:0; display:none;}
.fenxiang_box p { float:left; width:50%; height:35px; line-height:35px; color:#ffffff; cursor:pointer; position:relative;}
.fenxiang_box p:hover { color:#efefef;}
.add_fav { background:url(../img/addFavhert.png) no-repeat 18px center; text-align:center;}
.add_fen { background:url(../img/addfenxiang.png) no-repeat 18px center; text-align:center;}
.cate_block_ul li:hover .fenxiang_bg { display:block;}
.cate_block_ul li:hover .fenxiang_box { display:block;}

/* 买家入门-卖家入门-规则 */
.news_tabs_box { width:224px; height:175px; border:1px solid #e8e8e8; background-color:#f7f7f7;}
.new_tabs_ul { height:33px; background-color:#e8e8e8;}
.new_tabs_ul li { height:33px; line-height:33px; width:70px; text-align:center; float:left; color:#676767; cursor:pointer;}
.news_tabs_selectd { background-color:#fafafa; cursor:pointer; color:#333333 !important;}
.new_tabs_list { padding-top:10px;}
.new_tabs_list li { padding:4px 10px;}
.new_tabs_list li a { color:#666666;}
.new_tabs_list li a:hover { color:#ff4362;}
.icon_box { width:226px; overflow:hidden; margin:13px 0;}
.icon_box li { width:113px; height:46px; line-height:46px; background-color:#FF6C6C; float:left; margin-right:1px; margin-bottom:1px; text-indent:44px;}
.icon_box li:hover { background-color:#ff8787;}
.icon_inside { width:228px;}
.icon_inside a { color:#ffffff;}
.shandian_icon { background:url(../img/shandian_icon.png) no-repeat 15px center;}
.zhiliang_icon { background:url(../img/zhiliang_icon.png) no-repeat 15px center;}
.yijian_icon { background:url(../img/yijian_icon.png) no-repeat 15px center;}
.jingxuan_icon { background:url(../img/jingxuan_icon.png) no-repeat 15px center;}
.tags_box { width:224px; height:135px; border:1px solid #e8e8e8; background-color:#f7f7f7; margin-top:13px;}
.tags_box div { margin:0 auto; color:#787878; padding:15px 0 5px 70px;}
.renzheng_icon { background:url(../img/renzheng_icon.jpg) no-repeat 13px center; height:49px;}
.danbao_icon { background:url(../img/danbao_icon.jpg) no-repeat 13px center; height:49px;}
.add_group_01 { height:234px; width:226px; background-color:#e8e8e8; margin-top:13px;}

/* 热销排行 */
.rexiao_paihang { width:224px; height:479px; border:1px solid #e8e8e8; background-color:#f7f7f7; overflow:hidden;}
.rexiao_paihang h3 { height:35px; line-height:35px; text-indent:10px;}
.rexiao_gen_line { background:url(../img/dot_line_1.gif) repeat-x left bottom; height:38px; line-height:38px; margin:0 auto; width:215px; position:relative;}
.rexiao_gen_line a { color:#898989;}
.rexiao_gen_line a:hover { color:#ff4362;}

.sort_icon_gray { font-style:normal; display:block; float:left; width:15px; height:15px; background-color:#D1D1D1; border:1px solid #C8C8C8; line-height:15px !important; text-align:center; color:#797979; position:absolute; margin-top:12px;}
.rexiao_gen_line .sort_name { float:left; padding:0 0 0 20px;}
.rexiao_gen_line .sort_xiaoliang { float:right; color:#999999;}
.rexiao_gen_line .sort_price { float:left; display:none}
.rexiao_gen_line .sort_image { float:left; display:none}
.rexiao_gen_line .sort_icon_red { margin-top:12px !important;}

.rexiao_selectd_line { background:url(../img/dot_line_1.gif) repeat-x left bottom; height:88px; margin:15px auto 0 auto; width:215px; position:relative;}
.sort_icon_red { font-style:normal; display:block; float:left; width:15px; height:15px; background-color:#FF6C6C; border:1px solid #EC6464; line-height:15px !important; text-align:center; color:#ffffff; position:absolute;}
.rexiao_selectd_line .sort_image { float:left; display:block;}
.rexiao_selectd_line .sort_name { float:left; padding:0 0 10px 10px;}
.rexiao_selectd_line .sort_xiaoliang { float:left; color:#999999; padding:0 0 10px 10px;}
.rexiao_selectd_line .sort_price { float:left; display:block; padding:0 0 10px 10px;}
.rexiao_selectd_line .sort_icon_gray { margin-top:0 !important;}

.add_group_02 { height:187px; width:226px; background-color:#e8e8e8; margin-top:13px;}

/* 通用底部 */
.com_page_foot { height:310px; width:100%; background-color:#F0F0F0; margin-top:30px; clear:both;}
.up_foot_inner {}
.kefu_number { float:left; padding:0 30px 0 0; background:url(../img/tel_foot_icon.gif) no-repeat left center; text-indent:40px; font-size:14px; font-weight:bold; color:#999999;}
.qrcode_img { float:left; padding:0 50px;}
.help_list { float:left;}
.qqkefu_list { float:right;}

.help_list ul { float:left; padding:0 40px;}
.help_list li { height:26px;}
.help_list h3 a { color:#454545;}
.help_list a { color:#909090;}
.help_list li a:hover { color:#ff4362;}
.qqkefu_list img { margin-left:10px;}
.up_foot_inner { padding-top:35px; height:200px; }

.friend_links { border-top:1px solid #E0E0E0; color:#787878;}
.friend_links div { float:left;}
.friend_links ul { float:left;}
.friend_links li { float:left; margin:0 8px;}
.friend_links li a { color:#787878;}
.friend_links li a:hover { color:#454545;}
.links_box { padding:10px 0; clear:both;}
.copyright_box { padding:5px 0; clear:both;}
.block_more { background:url(../img/more_icon.gif) no-repeat left center; height:23px; line-height:20px; float:right; padding-left:26px; padding-right:10px; margin-top:10px;}
.block_more a { color:#999999; font-size:14px;}
.block_more a:hover { color:#ff4362;}

/* 引导页下拉导航条 */
.nav_sub_box { width:130px; height:100px; position:absolute; z-index:99999; top:33px; display:none;}
.sub_link_icon { margin-bottom:-1px; text-align:center; width:100%; height:7px;}
.nav_sub_box a { color:#333333 !important; font-weight:normal !important;}
.nav_sub_box a:hover { color:#ffffff !important; background-color:#f86666 !important;}
.sub_link_box { width:126px; border:1px solid #f86666; box-shadow:1px 1px 3px #999999; background-color:#ffffff; padding:1px;}

/* 引导页主flash样式 */
#full-screen-slider { width:100%; height:400px; float:left; position:relative}
#slides { display:block; width:100%; height:400px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:50%; top:360px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#0092CE}

/* 引导页主flash样式 */
.fenxiang_ul li { float:left; border:none !important; border:0 !important; padding:0 !important; margin:9px !important; }
.fenxiang_ul li:hover { float:left; border:none !important; border:0 !important; background:none !important;}
.fenxiang_ul span { display:block; height:17px; width:17px;}

/* 分享按钮样式 */
.fenxiang_ul_box { position:absolute; z-index:37; width:100%; height:107px; top:35px; display:none;}
.fenxiang_ul_box_bg { background-color:#000000; position:absolute; z-index:33; width:100%; height:107px; top:35px; filter:alpha(opacity:50); opacity:0.5; display:none;}
.fenxiang_box:hover .fenxiang_ul_box{ display:block;}
.fenxiang_box:hover .fenxiang_ul_box_bg{ display:block;}

.weixin { background:url(../img/shejiaoicon.png) no-repeat left bottom;}
.tengxunweibo { background:url(../img/shejiaoicon.png) no-repeat left -17px;}
.xinlang { background:url(../img/shejiaoicon.png) no-repeat left -34px;}
.wangyi { background:url(../img/shejiaoicon.png) no-repeat left -68px;}
.qqzone { background:url(../img/shejiaoicon.png) no-repeat left -85px;}
.qqpengyou { background:url(../img/shejiaoicon.png) no-repeat left -102px;}
.renren { background:url(../img/shejiaoicon.png) no-repeat left -119px;}
.kaixin { background:url(../img/shejiaoicon.png) no-repeat left -136px;}
.taojianghu { background:url(../img/shejiaoicon.png) no-repeat left -153px;}
.douban { background:url(../img/shejiaoicon.png) no-repeat left -170px;}
.baidusoucang { background:url(../img/shejiaoicon.png) no-repeat left -187px;}

/* */
#jump{position:fixed;top:650px;right:250px;width:50px;z-index:400;}
*html #jump{position:absolute;top:expression(documentElement.scrollTop + "px");margin:300px 0 0 0;}
#jump li{height:50px;overflow:hidden;margin-bottom:1px;}
#top,#qr_code{display:block;overflow:hidden;cursor:pointer;}
#top{background: url(../img/gotop_icon.gif) no-repeat; width:50px; height:50px;}
#gouwu{background: url(../img/qrcode_icon.gif) no-repeat; width:50px; height:50px;}