@CHARSET "UTF-8";

 .bank-list {
    border-bottom: 1px dotted #c9c9c9;
    border-right: 1px dotted #c9c9c9;
    float: left;
    position: relative;
    width: 600px;
}
.bank {
    font-size: 12px;
    position: relative;
    z-index: 100;
}
.bank .bank-logo-wrap input {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.bank .bank-logo {
    line-height: 0;
    overflow: visible;
}
.bank .bank-logo-name {
    visibility: hidden;
}
.bank .bank-logo .bank-ico-cop {
    background-color: #318ab6;
    color: #ffffff;
    font-size: 12px;
    height: 33px;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: 0;
    white-space: normal;
    width: 16px;
}
 .bank-icbc, .bank-cmb, .bank-ccb, .bank-abc, .bank-boc, .bank-spdb, .bank-sdb, .bank-cib, .bank-bob, .bank-cebb, .bank-boco, .bank-cmbc, .bank-ecitic, .bank-gdb, .bank-pingan, .bank-post, .bank-jsb, .ico-cop, .ico-ydt, .bank-srcb, .bank-bosh, .bank-hxb, .bank-hkbea, .bank-ordos, .bank-cbhb, .bank-jzb, .bank-njcb, .bank-nbcb, .bank-gdrcu, .bank-nccb, .bank-glccb, .bank-bsb, .bank-ynrcc, .bank-gzcb, .bank-cqrcb, .bank-zjcb, .bank-sdrcu, .bank-jshbank, .bank-klb, .bank-hrbcb, .bank-crb, .bank-cqcb, .bank-shbank, .bank-hzb, .bank-hkb, .bank-sdebank, .bank-qlb, .bank-hangseng, .bank-sznsh, .bank-zsxlc, .bank-hdcb, .bank-xxssh, .bank-nycbank, .bank-jjccb, .bank-bankofjdz, .bank-bek, .bank-zjtlcb, .bank-bocd, .bank-zjnx, .bank-ljbank, .bank-fdbank, .bank-ljb, .bank-fdb, .bank-wjrcb, .bank-qbccb, .bank-xacb, .bank-csrcb, .bank-dongguan, .bank-bjrcb, .bank-gyccb, .bank-xjrccb, .bank-pzhccb, .bank-lzbank, .bank-srcb, .bank-fjnx, .bank-dybank, .bank-jlbank, .bank-czbank, .bank-wzcb, .bank-grcbank, .bank-hbxh {
    background: rgba(0, 0, 0, 0) url(../../img/default/bank.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 33px;
    line-height: 999px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 141px;
}
 .bank-list .bank-logo-wrap {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #c9c9c9 -moz-use-text-color -moz-use-text-color #c9c9c9;
    border-image: none;
    border-style: dotted none none dotted;
    border-width: 1px 0 0 1px;
    cursor: pointer;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 6px 0;
    position: relative;
    width: 149px;
    z-index: 2;
}
.bank-icbc {
    background-position: 0 -35px;
}
.bank-cmb {
    background-position: 0 -66px;
}
.bank-ccb {
    background-position: 0 -99px;
}
.bank-abc {
    background-position: 0 -132px;
}
.bank-boc {
    background-position: 0 -165px;
}
.bank-spdb {
    background-position: 0 -198px;
}
.bank-sdb {
    background-position: 0 -231px;
}
.bank-cib {
    background-position: 0 -264px;
}
.bank-bob {
    background-position: 0 -297px;
}
.bank-cebb {
    background-position: 0 -330px;
}
.bank-boco {
    background-position: 0 -363px;
}
.bank-cmbc {
    background-position: 0 -396px;
}
.bank-ecitic {
    background-position: 0 -429px;
}
.bank-gdb {
    background-position: 0 -462px;
}
.bank-pingan {
    background-position: 0 -495px;
}
.bank-post {
    background-position: 0 -528px;
}
.bank-jsb {
    background-position: 0 -561px;
}
.bank-srcb {
    background-position: 0 -594px;
}
.bank-bosh {
    background-position: 0 -627px;
}
.bank-hxb {
    background-position: 0 -660px;
}
.bank-hkbea {
    background-position: 0 -693px;
}
.bank-ordos {
    background-position: 0 -726px;
}
.bank-cbhb {
    background-position: 0 -825px;
}
.bank-jzb {
    background-position: 0 -858px;
}
.bank-njcb {
    background-position: 0 -759px;
}
.bank-nbcb {
    background-position: 0 -792px;
}
.bank-gdrcu {
    background-position: 0 -891px;
}
.bank-nccb {
    background-position: 0 -924px;
}
.bank-glccb {
    background-position: 0 -957px;
}
.bank-bsb {
    background-position: 0 -990px;
}
.bank-ynrcc {
    background-position: 0 -1023px;
}
.bank-gzcb {
    background-position: 0 -1056px;
}
.bank-cqrcb {
    background-position: 0 -1089px;
}
.bank-zjcb {
    background-position: 0 -1124px;
}
.bank-sdrcu {
    background-position: 0 -1154px;
}
.bank-jshbank {
    background-position: 0 -1185px;
}
.bank-klb {
    background-position: 0 -1220px;
}
.bank-hrbcb {
    background-position: 0 -1250px;
}
.bank-crb {
    background-position: 0 -1285px;
}
.bank-cqcb {
    background-position: 0 -1318px;
}
.bank-hzb {
    background-position: 0 -1351px;
}
.bank-hkb {
    background-position: 0 -1384px;
}
.bank-sdebank {
    background-position: 0 -1417px;
}
.bank-qlb {
    background-position: 0 -1450px;
}
.bank-hangseng {
    background-position: 0 -1483px;
}
.bank-sznsh {
    background-position: 0 -1516px;
}
.bank-zsxlc {
    background-position: 0 -1549px;
}
.bank-hdcb {
    background-position: 0 -1582px;
}
.bank-xxssh {
    background-position: 0 -1615px;
}
.bank-nycbank {
    background-position: 0 -1648px;
}
.bank-jjccb {
    background-position: 0 -1681px;
}
.bank-bankofjdz {
    background-position: 0 -1714px;
}
.bank-bek {
    background-position: 0 -1747px;
}
.bank-zjtlcb {
    background-position: 0 -1780px;
}
.bank-bocd {
    background-position: 0 -1813px;
}
.bank-zjnx {
    background-position: 0 -1846px;
}
.bank-ljbank {
    background-position: 0 -1880px;
}
.bank-fdbank {
    background-position: 0 -1913px;
}
.bank-ljb {
    background-position: 0 -1880px;
}
.bank-fdb {
    background-position: 0 -1913px;
}
.bank-wjrcb {
    background-position: 0 -1946px;
}
.bank-qbccb {
    background-position: 0 -1979px;
}
.bank-xacb {
    background-position: 0 -2012px;
}
.bank-csrcb {
    background-position: 0 -2045px;
}
.bank-dongguan {
    background-position: 0 -2078px;
}
.bank-bjrcb {
    background-position: 0 -2111px;
}
.bank-gyccb {
    background-position: 0 -2144px;
}
.bank-xjrccb {
    background-position: 0 -2177px;
}
.bank-pzhccb {
    background-position: 0 -2210px;
}
.bank-lzbank {
    background-position: 0 -2243px;
}
.bank-srcb {
    background-position: 0 -2276px;
}
.bank-fjnx {
    background-position: 0 -2306px;
}
.bank-dybank {
    background-position: 0 -2339px;
}
.bank-jlbank {
    background-position: 0 -2372px;
}
.bank-czbank {
    background-position: 0 -2405px;
}
.bank-wzcb {
    background-position: 0 -2438px;
}
.bank-grcbank {
    background-position: 0 -2471px;
}
.bank-hbxh {
    background-position: 0 -2504px;
}
.show-bank-mask-wrap .bank-mask-wrap {
    display: block;
}
.show-bank-mask-wrap .link-extend .bank-ico-arrow {
    background-position: 0 -41px;
}
 input,button, label {
    font-size: 100%;
    vertical-align: bottom;
}
.bank-list .bank-logo-wrap:hover, .bank-layer .bank-list .bank-logo-wrap-hover, .bank-layer .bank-list .bank-logo-wrap-on {
    background-color: #ecf3f7;
    border: 2px solid #81a8ce;
    margin: -1px -2px -2px -1px;
    z-index: 3;
}