@charset "utf-8";
/* welcome-css */
.main_visual {
	width: 100%;
	height: 400px;
	position: relative;
	padding: 10px 0;
}
.main_image {
	height: 400px;
	overflow: hidden;
	position: relative;
}
.flicking_con {
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: 51;
}
.flicking_con a {
	display: block;
	height: 15px;
	width: 15px;
	border-radius: 25px;
	float: left;
	margin-right: 10px;
	background-color: #ffffff;
}
a.btn-cur {
	background-color: #f83e77;
}
/* 商品展示分类块-cate */
.goods_cate_block {
	width: 100%;
	clear: both;
	height: auto;
	padding: 10px 0;
}
.goods_block {
	width: 1200px;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
}
.goods_block .inner_inside {
	width: 1280px;
}
.goods_block_title {
	height: 100px;
	margin-bottom: 10px;
	width: 1190px;
	margin: 0 auto 5px auto;
}
.block_title {
	height: 100px;
	margin-bottom: 10px;
	color: #ffffff;
	width: 1190px;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	text-indent: 37px;
}
.block_title a {
	color: #ffffff !important;
}
.xielei_icon {
	background: url(../../img/welcome/jingxuanxielei.png) no-repeat 15px 9px #c21902;
}
.xiangbao_icon {
	background: url(../../img/welcome/fuzhuangxiangbao.png) no-repeat 15px 9px #FE6522;
}
.baoyang_icon {
	background: url(../../img/welcome/meizhuangbaoyang.png) no-repeat 15px 9px #E9448E;
}
.jiushui_icon {
	background: url(../../img/welcome/chayejiushui.png) no-repeat 15px 9px #6EB249;
}
.nvzhuang {
	background: url(../../img/welcome/nvzhuang.png) no-repeat;
}
.nanzhuang {
	background: url(../../img/welcome/nanzhuang.png) no-repeat;
}
.nantongzhuang {
	background: url(../../img/welcome/tongzhuang.png) no-repeat;
}
.nvxie {
	background: url(../../img/welcome/nvxie.png) no-repeat;
}
.nanxie {
	background: url(../../img/welcome/nanxie.png) no-repeat;
}
.tongxie {
	background: url(../../img/welcome/tongxie.png) no-repeat;
}
.cate_block_ul li {
	float: left;
	margin-right: 10px;
	margin-bottom: 14px;
	margin-left: 4px;
	margin-top: 4px;
	border: 1px solid #e8e8e8;
	position: relative;
}
.cate_block_ul li:hover {
	float: left;
	margin-right: 10px;
	margin-bottom: 14px;
	border: 1px solid #dcdcdc;
	margin-left: 4px;
	margin-top: 4px;
	box-shadow: 0 0 4px 0 #e8e8e8;
	position: relative;
}
.goods_text_info {
	height: 94px;
}
.goods_text_info div {
	width: 263px;
	margin: 0 auto;
	height: 20px;
}
.shop_renzheng {
	display: block;
	height: 14px;
	width: 19px;
	background: url(../../img/welcome/renzheng_icon.gif) no-repeat;
	float: left;
	margin-right: 5px;
}
.shiming_renzheng {
	display: block;
	height: 14px;
	width: 19px;
	background: url(../../img/welcome/renzheng_icon.gif) no-repeat right top;
	float: left;
}
.cate_block_ul li:hover .shop_renzheng {
	background: url(../../img/welcome/renzheng_icon.gif) no-repeat left -20px;
}
.cate_block_ul li:hover .shiming_renzheng {
	background: url(../../img/welcome/renzheng_icon.gif) no-repeat right -20px;
}
.right_block_body {
	width: 1012px;
}
.text_price {
	padding: 4px 10px;
}
.text_name a {
	font-weight: normal;
	color: #454545;
}
.text_name a:hover {
	color: #c60204;
}
.text_down {
	margin: 7px 10px 0 10px;
	background: url(../../img/welcome/dot_line_1.gif) repeat-x top left;
	padding: 9px 0;
	color: #999999;
	height: 10px;
}
.text_down a {
	float: right;
	background: url(../../img/welcome/down_icon.gif) no-repeat left center;
	text-indent: 10px;
	color: #999999;
}
.text_down a:hover {
	color: #333333;
}
.goods_image {
	height: 285px;
	width: 285px;
	position: relative;
}
.tuijian_ico {
	position: absolute;
	height: 44px;
	width: 44px;
	background: url(../../img/welcome/tuijian_ico.png) no-repeat;
	top: 0;
	right: 0;
}